<template>
    <div class="user_confirmation container container-outline"> 
        <transition name="slide" appear>
            <div>
                <div class="card-header custom_header">
                    <h3>
                        {{$t('user_confirmation.header')}}
                    </h3>
                </div>
                <div class="custom_subheader">
                    <p>
                        {{$t('user_confirmation.sub_header')}}
                    </p>
                </div> 
                <ValidationObserver ref="form" v-slot="{passes}">
                    <form @submit.prevent="passes(submit)">
                        <div class="form-row">
                            <div id="street_address" class="form-group col custom_input">
                                <label for="inputAddress">
                                    Street Address
                                </label>
                                <Address />    
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col custom_input">
                                <label for="inputCity">
                                    City
                                </label>
                                <City />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col custom_input">
                                <label for="inputState">
                                    State
                                </label>
                                <State :deactivate="deactivate"/>   
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col custom_input">
                                <label for="inputZipCode">
                                    Zip
                                </label>
                                <ZipCode :deactivate="deactivate"/>   
                            </div>
                        </div>
                        <div class="form-row">
                            <div id="home_number" class="form-group col custom_input">
                                <label for="inputSecondaryNumber">
                                    Home Number
                                </label>
                                <SecondaryNumber />  
                            </div>
                        </div>
                        <!-- <button @click="switchLoc" class="btn btn-primary">Switch language</button> -->
                        <button type="submit" 
                                class="btn mobile_touch_button"
                        >
                            {{$t('user_confirmation.button_text.finalize_my_offer')}}
                        </button>
                    </form>
                    <div class="text-left">
                        <font-awesome-icon 
                            class="fa-lg back_btn" 
                            icon="arrow-circle-left"
                            @click="router('user_profile')"  
                        />
                    </div>   
                </ValidationObserver> 
            </div>          
        </transition>
        <Modal/>
    </div>
</template>

<script>
import { ValidationObserver } from 'vee-validate';
// Import API functions
import Api from '@/api/api';

import Address from '@/components/inputs/address';
import City from '@/components/inputs/city';
import State from '@/components/inputs/state';
import ZipCode from '@/components/inputs/zip_code';
import SecondaryNumber from '@/components/inputs/secondary_number';
// Modal
import Modal from '@/components/modals/mobile-touch/modal_storage.vue';

// Import exports from vuex
import {mapMutations, mapState} from 'vuex';
// Importing Event Bus
import {EventBus} from '@/event-bus';

import debugLog from '@/debug/log';
import trackSteps from '@/events/track-steps'

export default {
    name: 'user_confirmation',
    components: {
        ValidationObserver,
        Address,
        City,
        State,
        ZipCode,
        SecondaryNumber,
        Modal
    },
    data: () => ({
        api_payload: {},
        deactivate: true
    }),
    created() {
        this.deactivate = true;
    },
    beforeDestroy () {
        this.deactivate = false;
    },
    computed: {
        address: {
            get() {
                return this.$store.state.residence.address;
            },
            set(val) {
                this.UPDATE_ADDRESS(val);
            }
        },
        city: {
            get() {
                return this.$store.state.residence.city;
            },
            set(val) {
                this.UPDATE_CITY(val)
            }
        },
        state: {
            get() {
                return this.$store.state.residence.state;
            },
            set(val) {
                this.UPDATE_STATE(val);
            }
        },
        zip_code: {
            get() {
                return this.$store.state.residence.zip_code;
            },
            set(val) {
                this.UPDATE_ZIP_CODE(val);
            }
        },
        secondary_number: {
            get() {
                return this.$store.state.user.secondary_number;
            },
            set(val) {
                this.UPDATE_SECONDARY_NUMBER(val);
            }
        }
    },
    methods: {
        ...mapMutations('user', [
            'UPDATE_ADDRESS',
            'UPDATE_CITY',
            'UPDATE_STATE',
            'UPDATE_ZIP_CODE',
            'UPDATE_SECONDARY_NUMBER'
        ]),
        ...mapMutations('residence', [
            'UPDATE_ADDRESS',
            'UPDATE_CITY',
            'UPDATE_STATE',
            'UPDATE_ZIP_CODE',
        ]),
        submit() {
            trackSteps('app-tracking', 'click', 'click-confirm-address')
            this.dataConfirmation();
        },
        dataConfirmation() {
            let api_payload = {
                ...this.$store.state.residence,
                ...this.$store.state.user,
                ...this.$store.state.vehicle,
            };

            let payload = {
                activeMilitaryDuty: api_payload.active_military,
                addressLine1: api_payload.address,
                city: api_payload.city,
                email: api_payload.email,
                firstName: api_payload.first_name,
                homePhone: api_payload.secondary_number,
                lastName: api_payload.last_name,
                loan_number: api_payload.loan_number,
                // loanType: api_payload.loan_type,
                make_description: api_payload.make,
                mileage: api_payload.mileage,
                mobilePhone: api_payload.phone_number,
                model_description: api_payload.model,
                style: api_payload.style,
                style_description: api_payload.style,
                state: api_payload.state,
                zip: api_payload.zip_code,
                make: '',
                model: '',
                year: api_payload.year,
            };

            this.trigger_modal('PAGE_SPINNER_MODAL');

            Api.multiStepPost(payload, this.$root.apiUrl)
                .then((response) => {
                    debugLog(response);
                    this.trigger_modal('PAGE_SPINNER_KILL');
                })
                .then(() => {
                    this.router('completion');
                })
                .catch((error) => {
                    debugLog(error);
                    this.trigger_modal('PAGE_SPINNER_KILL');
                });
        },
        trigger_modal(val) {
            EventBus.$emit(val);
        },
        router(val) {
            EventBus.$emit('ROUTER', val);   
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../../assets/base';
    @import '../../../assets/animations';

    .container-outline {
        border-top: none !important;
        border-left: 2px solid $outline-color;
        border-right: 2px solid $outline-color;
        border-bottom: 2px solid $outline-color;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    // Header
    .custom_header {
        margin: -20px -36px 15px -36px;
        background-color: $secondary-green !important;

        h3 {
           color: $white; 
        }
          
    }
    .custom_subheader {
        p {
            font-weight: 700;
            color: $secondary-light-grey;
            margin-bottom: 18px;
        }
    }
    // End Header

    // Form
    #home_number, 
    #street_address {
        ::v-deep {
            .form-control {
                border-bottom: 2px solid $orange-hover;
            }
        }
        
    }

    .form-group {
        label{ 
            display: none;
        }
    }

    .custom_input {
        ::v-deep {
            .form-control {
                border-radius: 0px;
                border-left: none;
                border-top: none;                                                                                                                                                                                                                                                                                                                                                                                                                          
                border-right: none;
                border-bottom: 2px solid $black;

                &:focus {
                    box-shadow: none;
                }

                &::placeholder {
                    color: $placeholder;
                }
            }

            .form-control:disabled {
                background-color: $white;
                opacity: 1;
            }

            select {
                appearance: none;
            }

            .col {
                text-align: left;
            }
        }
    }
    // End Form

    // Form Submission Button
    .mobile_touch_button {
        margin-top: 30px;
        font-weight: 500;
        width: 50%;
    }
    // 

    // Back Button
    .back_btn {
        position: relative;
    }
    // End Back Button

</style>
