<template>
    <div class="user_profile container container-outline"> 
        <transition name="slide" appear>
            <div>
                <div class="card-header custom_header">
                    <div class="row">
                        <img 
                            class="img-fluid img_styles" 
                            src="../../../assets/mobile-touch/badge-check-50px.png" 
                            alt="Responsive image"
                        />
                        <div class="col-12">
                            <p class="header_text">
                                {{$t('user_profile.header.fragment_1')}}
                            </p>
                            <p class="header_text">
                                {{$t('user_profile.header.fragment_2')}}
                            </p>
                        </div>
                    </div> 
                </div>
                <div class="">
                    <div class="custom_subheader">
                        <p class="">
                            {{$t('user_profile.sub_header.fragment_1')}} <span id="default_loan_amount">
                            ${{default_loan_amount | format_loan_amount}}<sup class="dagger">&#8224;</sup><sup class="dagger">&#8224;</sup></span>  
                        </p>
                        <p class="">
                            {{$t('user_profile.sub_header.fragment_2')}} <span id="vehicle_description">{{make}} {{model}}</span>
                        </p>
                        <p>
                            {{$t('user_profile.sub_header.sub_title')}}
                        </p>
                    </div> 
                </div>
                <ValidationObserver ref="form" v-slot="{passes}">
                    <form @submit.prevent="passes(pre_process)">
                        <div class="form-row">
                            <div class="form-group col custom_input">
                                <label for="inputFirstName">
                                    First Name
                                </label>
                                <FirstName />    
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col custom_input">
                                <label for="inputLastName">
                                    Last Name
                                </label>
                                <LastName />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col custom_input">
                                <label for="inputPrimaryNumber">
                                    Phone Number
                                </label>
                                <PrimaryNumber />   
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col custom_input">
                                <label for="inputEmail">
                                    Email
                                </label>
                                <Email />   
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col custom_input">
                                <label for="inputZipCode">
                                    Zip Code
                                </label>
                                <ZipCode />  
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <div class="form-check custom_checkbox">
                                    <ActiveMilitary />
                                </div>
                            </div>
                        </div>
                        <!-- Non CCB State -->
                        <div v-if="!ccb_state">
                            <!-- If California State -->
                            <div v-if="state === 'CA'">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <div class="form-check custom_checkbox">
                                            <UserConsent />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End California -->
                            <div class="form-row">
                                <div class="form-group col">
                                    <div class="form-check custom_checkbox">
                                        <TermsAndConditions />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <div class="form-check custom_checkbox text_calls">
                                        <TextsAndCalls />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Non CCB State -->
                        <!-- CCB State -->
                        <div v-else>
                            <div class="form-row">
                                <div class="form-group col">
                                    <div class="form-check custom_checkbox">
                                        <CcbTermsAndConditions />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <div class="form-check custom_checkbox text_calls">
                                        <CcbTextsAndCalls />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End CCB State -->
                        <div class="row justify-content-center">
                            <div class="col-12 text-center">
                                <p class="_terms">
                                    <sup class="dagger-2">&#8224;</sup> <sup class="dagger-2">&#8224;</sup>{{$t('user_profile.superscript')}}
                                </p>
                            </div> 
                        </div>
                        <br>
                        <!-- <button @click="switchLoc" class="btn btn-primary">Switch language</button> -->
                        <div class="row justify-content-center">
                            <button type="submit" 
                                    class="btn mobile_touch_button"
                            >
                                {{$t('user_profile.button_text.i_want_my_cash')}}
                            </button>
                        </div>
                    </form>
                    <div class="text-left custom_margin">
                        <font-awesome-icon 
                            class="fa-lg back_btn" 
                            icon="arrow-circle-left"
                            @click="router('years')" 
                        />
                    </div> 
                </ValidationObserver> 
            </div>         
        </transition>
        <Modal/>
    </div>
</template>

<script>
import { ValidationObserver } from "vee-validate";
// Import API functions
import Api from '@/api/api';

import FirstName from '@/components/inputs/first_name.vue';
import LastName from '@/components/inputs/last_name.vue';
import Email from '@/components/inputs/email.vue';
import PrimaryNumber from '@/components/inputs/primary_number.vue';
import ZipCode from '@/components/inputs/zip_code.vue';
import ActiveMilitary from '@/components/inputs/active_military.vue';
import UserConsent from '@/components/inputs/consent_to_share_information.vue';
import TermsAndConditions from '@/components/inputs/terms_and_conditions.vue';
import TextsAndCalls from '@/components/inputs/texts_and_calls.vue';
import CcbTermsAndConditions from '@/components/inputs/ccb_terms_and_conditions.vue';
import CcbTextsAndCalls from '@/components/inputs/ccb_texts_and_calls.vue';
// Modal
import Modal from '@/components/modals/mobile-touch/modal_storage.vue';
// Import exports from vuex
import {mapMutations, mapState} from 'vuex';
// Importing Event Bus
import {EventBus} from '@/event-bus';

import debugLog from '@/debug/log';
import trackSteps from '@/events/track-steps'

export default {
    name: 'user_profile',
    components: {
        ValidationObserver,
        FirstName,
        LastName,
        Email,
        PrimaryNumber,
        ZipCode,
        ActiveMilitary,
        UserConsent,
        TermsAndConditions,
        TextsAndCalls,
        CcbTermsAndConditions,
        CcbTextsAndCalls,
        Modal,
    },
    data: () => ({
        api_payload: {},
        bypass: {
            texts_and_calls: false,
            bypass: false
        }
    }),
    computed: {
        // https://vuex.vuejs.org/guide/state.html#object-spread-operator
        ...mapState('vehicle', [
            'make',
            'model'
        ]),
        ...mapState('user', [
            'active_military',
            'callInNumber',
            'consent_to_share_information',
            'default_loan_amount',
            'email',
            'first_name',
            'last_name',
            'loan_number',
            'primary_number',
            'terms_and_conditions',
        ]),
        ...mapState('residence', [
            'ccb_states',
            'state',
            'updated_state',
            'zip_code',
        ]),
        ccb_state: {
            get() {
                return this.ccb_states.includes(this.state);
            }
        },
        city: {
            get() {
                return this.$store.state.residence.city;
            },
            set(val) {
                this.UPDATE_CITY(val);
            }
        },
        loan_number: {
            get() {
                return this.$store.state.user.loan_number;
            },
            set(val) {
                this.UPDATE_LOAN_NUMBER(val);
            }
        },
        texts_and_calls: {
            get() {
                return this.$store.state.user.texts_and_calls;
            },
            set(val) {
                this.UPDATE_TEXTS_AND_CALLS(val);
            }
        },
    },
    filters: {
        format_loan_amount(val) {
            return val.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
        }
    },
    created () {
        EventBus.$on('CONTINUE_FORM_SUBMISSION', (payload) => {
            this.bypass = {...payload};
            this.pre_process();
        });

        debugLog(this.ccb_states.includes(this.state));
    },
    methods: {
        ...mapMutations('user', [
            'UPDATE_LOAN_NUMBER',
            'UPDATE_TEXTS_AND_CALLS',
            'UPDATE_CITY',
        ]),
        ...mapMutations('residence', [
            'UPDATE_CITY',
        ]),
        switchLoc() {
            // switch the locale.
            this.locale = this.locale === "en" ? "es" : "en";
            // you could also import 'localize' and call it.
            // localize('ar');

            // re-validate to re-generate the messages.
            this.$refs.form.validate();
        },
        get_zip_code(payload) {
            if (payload.length === 3) {
                payload = `00${this.zip_code}`;
            }

            Api.getZipCode(payload, this.$root.apiUrl)
            .then(response => {
                const address_components = response.data.results[0].address_components;

                this.city = address_components.reduce((short_name, component) => {
                    return short_name + ( component.types[0] !== 'locality' ? '' : component.long_name );
                }, '');

                this.updated_state = address_components.reduce((short_name, component) => {
                    return short_name + ( component.types[0] !== 'administrative_area_level_1' ? '' : component.short_name );
                }, '');
            })
            .catch(error => {
                debugLog(`There was an error: ${error}`);
            });
        },
        pre_process() {
            let case_1 = this.texts_and_calls === false && this.bypass.bypass !== true;
            let case_2 = this.texts_and_calls === '' && this.bypass.bypass !== true;

            let get_state = (() => {
                if (this.updated_state != this.state) {
                    this.trigger_modal('CHANGE_STATE_ZIP_MODAL');
                } else {
                    trackSteps('app-tracking', 'click', 'click-want-my-cash')
                    this.formSubmission();
                }
            });

            let get_city = (() => {
                if (this.city === '') {
                    this.get_zip_code(this.zip_code);
                    get_state();
                } else {
                    get_state();
                }
            });

            if(case_1 || case_2) {
                if (this.bypass.texts_and_calls) {
                    this.texts_and_calls = this.bypass.texts_and_calls;
                    get_city();
                } else {
                    this.trigger_modal('NO_TEXT_OR_CALLS_MODAL');
                }
            } else if (this.texts_and_calls === true || this.bypass.bypass === true) {
                this.texts_and_calls = this.bypass.texts_and_calls;
                get_city();
            }
        },
        formSubmission() {
            let api_payload = {
                ...this.$store.state.residence,
                ...this.$store.state.user,
                ...this.$store.state.vehicle,
            };

            let payload = {
                activeMilitaryDuty: api_payload.active_military,
                email: api_payload.email,
                firstName: api_payload.first_name,
                lastName: api_payload.last_name,
                // loanType: api_payload.loan_type,
                make_description: api_payload.make,
                mileage: api_payload.mileage,
                mobilePhone: api_payload.phone_number,
                model_description: api_payload.model,
                state: api_payload.state,
                style_description: api_payload.style,
                year: api_payload.year,
                zip: api_payload.zip_code,
                make: '',
                model: '',
                style: '',
            };

            this.trigger_modal('PAGE_SPINNER_MODAL');

            Api.multiStepPost(payload, this.$root.apiUrl)
                .then((response) => {
                    let loan_number_response = response.data.SubmitApplicationWithResponseResult.LoanNumber;
                    let array_conversion = loan_number_response.split('|');

                    [this.loan_number] = array_conversion;

                    let heartbeatObj = {
                        loanNumber: this.loan_number,
                        // TODO: @mike do we need pass all this info?
                        // source: _this.field_s.source,
                        // sourceLocation: _this.field_s.sourceLocation,
                        // storeNumber: _this.field_s.storeNumber,
                        // storeKey: _this.field_s.storeKey
                    }

                    Api.heartbeat(heartbeatObj, this.$root.apiUrl)

                    setInterval(() => {
                        Api.heartbeat(heartbeatObj, this.$root.apiUrl)
                    },6e4) // 60 seconds

                    this.trigger_modal('PAGE_SPINNER_KILL');
                })
                .then(() => {
                    this.router('user_confirmation');
                })
                .catch((error) => {
                    let errorCode = error.response.data.Code;

                    this.trigger_modal('PAGE_SPINNER_KILL');

                    switch (errorCode) {
                        case '4017':
                            this.trigger_modal('EXISTING_USER_MODAL');
                            break;
                    
                        default:
                            break;
                    }
                });
        },
        trigger_modal(val) {
            EventBus.$emit(val);
        },
        router(val) {
            EventBus.$emit('ROUTER', val);   
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../../assets/base';    
    @import '../../../assets/animations';
    .container-outline {
        border-top: none !important;
        border-left: 2px solid $outline-color;
        border-right: 2px solid $outline-color;
        border-bottom: 2px solid $outline-color;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    // Header
    .custom_header {
        margin-top: -20px !important;
        margin-left: -36px !important;
        margin-right: -36px !important;
        background-color: $secondary-green !important;
        color: $white;

        p:first-child {
            margin-top: -7px;
            margin-bottom: 0px;
        }

        p:nth-child(2n) {
            margin-top: -15px;
            margin-bottom: 0px;
        }    
    }

    .header_text {
        font-size: 35px;
    }

    .custom_subheader {
        p {
            font-weight: 700;
        }
        
        p:first-child {
            margin-bottom: 0px;
        }

        p:nth-child(2n) {
            margin-bottom: 6px;
        }

        p:nth-child(3n) {
            color: $secondary-light-grey;
        }

        .dagger {
            font-weight: normal;
            color: $black;
            font-size: 17px;
            top: -7px;
        }

        #default_loan_amount {
            color: $secondary-green;
            font-size: 24px;
            font-weight: 700;
        }

        #vehicle_description {
            color: $secondary-green;
            font-weight: 600;    
        }
    }

    .img_styles {
        z-index: 10;
        position: absolute;
        transform: translate(40%, 32%);    
    }
    // End Header

    // Form
    form {
        text-align: left;
    }
    .form-group {
        label{ 
            display: none;
        }
    }

    ._terms {
        font-size: 10px;
        margin: 4px 0 0 0;
        color: #bbb!important;

        .dagger-2 {
            font-weight: 400!important;
            color: $black!important;
            font-size: 11px!important;
        }
        
    }

    .custom_input {
        ::v-deep { 
            .form-control {
                border-radius: 0px;
                border-left: none;
                border-top: none;                                                                                                                                                                                                                                                                                                                                                                                                                          
                border-right: none;
                border-bottom: 2px solid $black;

                &:focus {
                    box-shadow: none;
                }

                &::placeholder {
                    color: $placeholder;
                }
            }
            
            .row {
                margin-top: 6px;
            }

            .col {
                text-align: left;
            }
        }
    }

    .custom_checkbox {
        float: left;

        ::v-deep {
            .form-check-label {
                font-size: 10px;
                color: $light-grey;
                text-align: left;
            }

            a {
                color: $orange-font;
            }

            .col {
                text-align: left;
            }
        }
    }

    .text_calls {
        ::v-deep #_text_calls {
            font-weight: bold;
            font-style: italic;
            text-decoration: underline;
        }
    }
    // End Form

    // Form Submission Button
    .mobile_touch_button {
        margin-top: 30px;
        font-weight: 500;
        width: 50%;
    }
    // 

    // Back Button
    .back_btn {
        position: relative;
    }
    // End Back Button
</style>
