<template>
    <div class="user_success container container-outline"> 
        <transition name="slide" appear>
            <div>
                <div class="card-header custom_header">
                    <h3>
                        {{$t('congratulations.header')}}
                    </h3>
                </div>
                <div class="custom_subheader">
                    <p>
                       {{$t('congratulations.sub_header')}}<sup>1</sup>
                    </p>
                </div>
                <a @click="call_triggered" class="btn mobile_touch_button"
                    href="tel:1-855-548-9050"
                    role="button"
                >   
                    {{$t('congratulations.button_text.call_now')}} 1-855-548-9050
                </a>
                <div class="mobile-touch-border">
                    <div class="row inner-border">
                        <div class="col-6">
                            <p class="text-left">
                                <span class="congratulations_text">
                                    {{$t('congratulations.loan_information.estimate')}}
                                </span>
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="text-left">
                                <span class="profile_info loan_estimate">
                                    ${{default_loan_amount | format_loan_amount}}
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="row inner-border">
                        <div class="col-6">
                            <p class="text-left">
                                <span class="congratulations_text">
                                    {{$t('congratulations.loan_information.number')}}:
                                </span> 
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="text-left">
                                <span class="profile_info">
                                    {{loan_number}}
                                </span>
                            </p>
                        </div>                             
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-left">
                                <span class="congratulations_text">
                                    {{$t('congratulations.loan_information.vehicle_info')}}:
                                </span>
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="text-left">
                                <ul>
                                    <li class="profile_info">
                                        {{year}}
                                    </li>
                                    <li class="profile_info">
                                        {{make}}
                                    </li>
                                    <li class="profile_info">
                                        {{model}}
                                    </li>
                                    <li class="profile_info">
                                        {{style}}
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <h5>
                    {{$t('congratulations.footer')}}
                </h5>   
            </div>          
        </transition>
    </div>
</template>

<script>
// Import API functions
import Api from '@/api/api';
// Import exports from vuex
import {mapState} from 'vuex';
// Importing Event Bus
import {EventBus} from '@/event-bus';

import debugLog from '@/debug/log';
import trackSteps from '@/events/track-steps'

export default {
    name: 'user_success',
    components: {

    },
    data: () => ({
        api_payload: {},
    }),
    computed: {
        ...mapState('user', [
           'default_loan_amount',
           'loan_number', 
        ]),
        ...mapState('vehicle', [
            'year',
            'make',
            'model',
            'style'
        ])
    },
    filters: {
        format_loan_amount(val) {
            return val.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        }
    },
    created() {
        this.formCompletion();
    },
    methods: {
        router(val) {
            EventBus.$emit('ROUTER', val);   
        },
        call_triggered() {
            trackSteps('app-tracking', 'click', 'click-call-congratspage')
        },
        formCompletion() {
            let api_payload = {
                ...this.$store.state.user
            };

            let payload = {
                loanNumber: api_payload.loan_number,
            };    

            Api.completeFrom(payload, this.$root.apiUrl)
                .then((response) => {
                    debugLog(response);
                })
                .catch((error) => {
                    debugLog(error);
                });
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../../assets/base';
    @import '../../../assets/animations';

    .container-outline {
        border-top: none !important;
        border-left: 2px solid $outline-color;
        border-right: 2px solid $outline-color;
        border-bottom: 2px solid $outline-color;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .user_success {
        h5 {
            font-size: 18px;
            margin-top: 16px;
        }
    }
    // Header
    .custom_header {
        margin: -20px -36px 15px -36px;
        background-color: $secondary-green !important;
        

        h3 {
            font-size: 20pt;
            font-weight: 400;
            color: $white;
        }  
    }
    .custom_subheader {
        p {
            color: #444242;
            font-weight: 600;
            font-size: 17px;
            margin-bottom: 18px;
        }
    }

    .mobile_touch_button {
        margin-bottom: 17px;
        width: 75%;
        padding: .375rem .75rem;
    }

    .mobile-touch-border {
        border: 3px solid #444242;

        .loan_estimate {
            color: $secondary-green !important;
            font-size: 24px;
            font-weight: 700;    
        }

        .congratulations_text {
            color: #444242;
            font-weight: 600;
            font-size: 17px;
        }

        .profile_info {
            color: $black;
            font-weight: 700;
        }

        .row:first-child {
            .col-6:first-child {
                padding-left: 0px;
                padding-right: 0px;
                align-items: center;
                display: flex;
                justify-content: start;

                .text-left {
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                }
            }

            .col-6:nth-child(2n) {
                padding-left: 0px;
                padding-right: 0px;

                .text-left {
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                }
            }
        }

        .row:nth-child(2n) {
            .col-6:first-child {
                padding-left: 0px;
                padding-right: 0px;

                .text-left {
                    margin-bottom: 0px;
                    padding-bottom: 8px;
                }
            }

            .col-6:nth-child(2n) {
                padding-left: 0px;

                .text-left {
                    margin-bottom: 0px;
                    padding-bottom: 8px;
                }
            }
        }

        .row:nth-child(3n) {
            margin: 8px 16px 8px 16px;

            .col-6:first-child {
                padding-left: 0px;
                padding-right: 0px;

                .text-left {
                    margin-bottom: 0px;
                    padding-bottom: 8px;
                }
            }

            .col-6:nth-child(2n) {
                padding-left: 0px;
                padding-right: 0px;

                .text-left {
                    margin-bottom: 0px;
                    padding-bottom: 8px;

                    ul {
                        margin-bottom: 0px;
                        padding-left: 0px;

                        li {
                            list-style: none;
                        }
                    }
                }

            }
        }
    }

    .inner-border {
        border-bottom: 1px solid black;
        margin: 8px 16px 8px 16px;
    }

</style>
