<template>
    <div class="vehicle_makes container container-outline">
        <!-- Animation element -->
        <div class="row">
            <div class="">
                <font-awesome-icon 
                    class="fa-lg back_btn" 
                    icon="arrow-circle-left"
                    @click="router('years')"
                />
            </div>
            <h4 class="makes_header col-12 text-center">
                {{$t('vehicle_makes.header')}}
            </h4>
        </div>
        <transition name="slide" appear>
            <div class="row custom_row" v-if="vehicle_makes_tree.current_makes">
                <!-- Rendered vehicle makes -->
                <div class="col-4" 
                     v-for="make in mostFrequentMakesArray" 
                     :key="make.key" 
                     :value="make.value"
                >
                    <button class="
                                btn 
                                vehicle_makes_btn 
                                mobile_touch_button
                            " 
                            type="button" 
                            @click="getMake(make.key)"
                            :disabled="disabled"
                    >
                        {{make.key}}                            
                    </button>   
                </div>
                <div class="col-4">
                    <button class="
                                btn 
                                vehicle_makes_btn 
                                mobile_touch_button
                            " 
                            type="button"
                            @click="renderOtherMakes('other_makes')"
                            :disabled="disabled"
                    >
                        {{$t('vehicle_makes.button_text.other')}}
                    </button> 
                </div>
            </div>
            
        </transition>
        <!-- Transition element for other makes -->
        <transition name="slide">
            <div class="row custom_row" v-if="vehicle_makes_tree.other_makes">
                <!-- Rendered other makes -->
                <div class="col-4" 
                     v-for="make in otherMakesArray" 
                     :key="make.key" 
                     :value="make.value"
                >
                    <button class="
                                btn 
                                vehicle_makes_btn 
                                mobile_touch_button
                            " 
                            type="button" 
                            @click="getMake(make.key)"
                            :disabled="disabled"
                    >
                        {{make.key}}                            
                    </button>
                </div>
                <!-- Other button used to render a modal on click -->
                <div class="col-4">
                    <button class="
                                btn 
                                vehicle_makes_btn 
                                mobile_touch_button
                            " 
                            type="button" 
                            @click="trigger_modal('OTHER_MAKES_MODAL')"
                            :disabled="disabled"
                    >
                        {{$t('vehicle_makes.button_text.other')}}
                    </button>
                </div>
            </div>
        </transition>
        <Footer />
        <Modal/>
    </div>
</template>

<script>
// Modal
import Modal from '@/components/modals/mobile-touch/modal_storage.vue';
// Footer
import Footer from '@/components/mobile-touch/footer/footer.vue';
// Import API functions
import Api from '@/api/api';
// Import exports from vuex
import {mapMutations} from 'vuex';
// Importing Event Bus
import {EventBus} from '@/event-bus';

import debugLog from '@/debug/log';
import trackSteps from '@/events/track-steps'

export default {
    name: 'vehicle_makes',
    components: {
        Modal,
        Footer
    },
    data: () => ({
        disabled: false,
        vehicle_makes_tree: {
            current_makes: true,
            other_makes: false
        }, 
        otherMakes: false,
        otherMakesArray: [],
        mostFrequentMakesArray: [],
        // Whitelist array for vehicle makes
        vehicleMakesWhiteList: [
            {key: "Acura", value: 1},
            {key: "Audi", value: 3},
            {key: "BMW", value: 5},
            {key: "Buick", value: 6},
            {key: "Cadillac", value: 7},
            {key: "Chevrolet", value: 8},
            {key: "Chrysler", value: 9},
            {key: "Dodge", value: 11},
            {key: "Ford", value: 15},
            {key: "GMC", value: 17},
            {key: "Honda", value: 18},
            {key: "Hyundai", value: 20},
            {key: "Infiniti", value: 21},
            {key: "Jeep", value: 24},
            {key: "Kia", value: 25},
            {key: "Lexus", value: 28},
            {key: "Lincoln", value: 29},
            {key: "Mazda", value: 32},
            {key: "Mercedes", value: 33},
            {key: "Mercury", value: 34},
            {key: "Mitsubishi", value: 36},
            {key: "Nissan", value: 37},
            {key: "Pontiac", value: 41},
            {key: "Saturn", value: 46},
            {key: "Scion", value: 47},
            {key: "Subaru", value: 49},
            {key: "Toyota", value: 52},
            {key: "Volkswagen", value: 53},
            {key: "Volvo", value: 54},
        ],
    }),
    computed: {
        make: {
            get() {
                return this.$store.state.vehicle.make;
            },
            set(val) {
                this.UPDATE_MAKE(val);
            }
        },
        makes_list: {
            get() {
                return this.$store.state.vehicle.makes_list;
            },
            set(val) {
                this.UPDATE_MAKES_LIST(val);
            }    
        },
        models_list: {
            get() {
                return this.$store.state.vehicle.models_list;
            },
            set(val) {
                this.UPDATE_MODELS_LIST(val);
            }    
        }
    },
    watch: {
        makes_list() {
            this.appendMakeToArray()
        }
    },
    mounted() {
        this.appendMakeToArray();
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Vehicle module
        ...mapMutations('vehicle', [
            'UPDATE_MAKES_LIST',
            'UPDATE_MODELS_LIST',
            'UPDATE_MAKE',
        ]),
        // Function to iterate through makes and push into according array
        appendMakeToArray() {
            this.otherMakesArray = [];
            this.mostFrequentMakesArray = [];

            this.makes_list.forEach(make => {
                if(!this.vehicleMakesWhiteList.some(_vm => _vm.key == make.key)) {
                    this.otherMakesArray.push(make);
                }
                else {
                    this.mostFrequentMakesArray.push(make);
                }
            });

        },
        renderOtherMakes(val) {
            for(let key in this.vehicle_makes_tree) {
                let property_key = this.vehicle_makes_tree[key];

                if (property_key == true) {
                    this.vehicle_makes_tree[key] = false;    
                    this.vehicle_makes_tree[val] = true;    
                }
            }
        },
        // Gets and sets the value for the object (make)
        getMake(value) {
            trackSteps('app-tracking', 'click', 'click-vehicle-make')
            this.models_list.splice(0, this.models_list.length);
            this.make = value;
            this.disabled = !this.disabled;

            this.vehicleModels();
        },
        vehicleModels() {
            let api_payload = {...this.$store.state.vehicle};
            let payload = {
                year: api_payload.year,
                make: api_payload.make,  
            };

            Api.getVehicleInfo(payload, this.$root.apiUrl)
                .then((response) => {
                    let response_data = response.data.models;

                    response_data.forEach((model, index) => {
                        var newModelObj = {
                            key: index,
                            value: model
                        };
                        this.models_list = newModelObj;
                    });
                    this.disabled = !this.disabled;
                })
                .then(() => {
                    this.router('models');
                })
                .catch((error) => {
                    debugLog(error);
                    this.disabled = !this.disabled;
                });
        },
        trigger_modal(val) {
            EventBus.$emit(val);
        },
        router(val) {
            EventBus.$emit('ROUTER', val);   
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../../assets/base';
    @import '../../../assets/animations';
    
    .vehicle_makes {
        .row .col-4 {
            padding: 0px 4px 8px 4px !important;
        }
        
        .custom_row {
            margin-bottom: 2%;
        }
    }

    .makes_header {
        font-weight: 400;
        margin-bottom: 23px !important;
    }

</style>
