<template>
    <div class="vehicle_mileage container container-outline">
        <!-- Animation element -->
        <div class="row">
            <div class=""
                v-if="!mileage_tree.main_section"
            >
                <font-awesome-icon 
                    class="fa-lg back_btn" 
                    icon="arrow-circle-left"
                    @click="renderMileageRange('main_section')" 
                />
            </div>
            <div class=""
                 v-if="mileage_tree.main_section"
            >
                <font-awesome-icon 
                    class="fa-lg back_btn" 
                    icon="arrow-circle-left"
                    @click="router('styles')" 
                />
            </div>
            <h4 class="mileage_header col-12 text-center">
                {{$t('vehicle_mileage.header')}}
            </h4>
        </div>
        <transition name="slide" appear>
            <div class="row custom_row" v-if="mileage_tree.main_section">
                <!-- Rendered vehicle mileage -->
                <div class="col-12 custom_col" 
                     v-for="mileage in vehicleMileage" 
                     :key="mileage.key" 
                     :value="mileage.value"
                >
                    <button class="
                                btn 
                                vehicle_mileage_btn
                                mobile_touch_button
                            " 
                            type="button" 
                            @click="renderMileageRange(mileage.id)"
                    >
                        {{mileage.key}}                         
                    </button>
                </div>
            </div>
        </transition>
        <!-- Transition element for mileage years 0 - 50,000 -->
        <transition name="slide">
            <div class="row custom_row" v-if="mileage_tree.section_1">
                <!-- Rendered vehicle mileage -->
                <div class="col-12 custom_col" 
                     v-for="mile in mileageRange1" 
                     :key="mile.key" 
                     :value="mile.value"
                >
                    <button class="
                                btn 
                                vehicle_mileage_btn
                                mobile_touch_button
                            " 
                            type="button" 
                            @click="getMileage(mile)"
                    >
                        {{mile.key}}                            
                    </button>
                </div>
            </div>
        </transition>
        <!-- Transition element for mileage years 50,000 - 100,000 -->
        <transition name="slide">
            <div class="row custom_row" v-if="mileage_tree.section_2">
                <!-- Rendered vehicle mileage -->
                <div class="col-12 custom_col" 
                     v-for="mile in mileageRange2" 
                     :key="mile.key" 
                     :value="mile.value"
                >
                    <button class="
                                btn 
                                vehicle_mileage_btn
                                mobile_touch_button
                            " 
                            type="button" 
                            @click="getMileage(mile)"
                    >
                        {{mile.key}}                            
                    </button>
                </div>
            </div>
        </transition>
        <!-- Transition element for mileage years 100,000 - 150,000 -->
        <transition name="slide">
            <div class="row custom_row" v-if="mileage_tree.section_3">
                <!-- Rendered vehicle mileage -->
                <div class="col-12 custom_col" 
                     v-for="mile in mileageRange3" 
                     :key="mile.key" 
                     :value="mile.value" 
                >
                    <button class="
                                btn 
                                vehicle_mileage_btn
                                mobile_touch_button
                            " 
                            type="button" 
                            @click="getMileage(mile)"
                    >
                        {{mile.key}}                            
                    </button>
                </div>
            </div>
        </transition>
        <!-- Transition element for mileage years 150,000 - 200,000 -->
        <transition name="slide">
            <div class="row custom_row" v-if="mileage_tree.section_4">
                <!-- Rendered vehicle mileage -->
                <div class="col-12 custom_col" 
                     v-for="mile in mileageRange4" 
                     :key="mile.key" 
                     :value="mile.value"
                >
                    <button class="
                                btn 
                                vehicle_mileage_btn
                                mobile_touch_button
                            " 
                            type="button" 
                            @click="getMileage(mile)"
                    >
                        {{mile.key}}                            
                    </button>
                </div>
            </div>
        </transition>
        <!-- Transition element for mileage years 200,000 - 250,000 -->
        <transition name="slide">
            <div class="row custom_row" v-if="mileage_tree.section_5">
                <!-- Rendered vehicle mileage -->
                <div class="col-12 custom_col" 
                     v-for="mile in mileageRange5" 
                     :key="mile.key" 
                     :value="mile.value"
                >
                    <button class="
                                btn 
                                vehicle_mileage_btn
                                mobile_touch_button
                            " 
                            type="button" 
                            @click="getMileage(mile)"
                    >
                        {{mile.key}}                            
                    </button>
                </div>
            </div>
        </transition>
        <!-- Transition element for mileage years 250,000 - 300,000 -->
        <transition name="slide">
            <div class="row custom_row" v-if="mileage_tree.section_6">
                <!-- Rendered vehicle mileage -->
                <div class="col-12 custom_col" 
                     v-for="mile in mileageRange6" 
                     :key="mile.key" 
                     :value="mile.value"
                >
                    <button class="
                                btn 
                                vehicle_mileage_btn
                                mobile_touch_button
                            " 
                            type="button" 
                            @click="getMileage(mile)"
                    >
                        {{mile.key}}                            
                    </button>
                </div>
            </div>
        </transition>
        <!-- Transition element for mileage years 300,000 - 350,000 -->
        <transition name="slide">
            <div class="row custom_row" v-if="mileage_tree.section_7">
                <!-- Rendered vehicle mileage -->
                <div class="col-12 custom_col" 
                     v-for="mile in mileageRange7" 
                     :key="mile.key" 
                     :value="mile.value"
                >
                    <button class="
                                btn 
                                vehicle_mileage_btn
                                mobile_touch_button
                            " 
                            type="button" 
                            @click="getMileage(mile)"
                    >
                        {{mile.key}}                            
                    </button>
                </div>
            </div>
        </transition>
        <Footer />
    </div>
</template>

<script>
// Import exports from vuex
import {mapMutations} from 'vuex';
// Importing Event Bus
import {EventBus} from '@/event-bus';
// Footer
import Footer from '@/components/mobile-touch/footer/footer.vue';
import trackSteps from '@/events/track-steps'

export default {
    name: 'vehicle_models',
    components: {
        Footer
    },
    data: () => ({
        mileage_tree: {
            main_section: true,
            section_1: false,
            section_2: false,
            section_3: false,
            section_4: false,
            section_5: false,
            section_6: false,
            section_7: false,
        },
        // Main section for mileage 
        vehicleMileage: [
            {id: "section_1", key: "0 - 50,000", value: 25000},
            {id: "section_2", key: "50,000 - 100,000", value: 75000},
            {id: "section_3", key: "100,000 - 150,000", value: 125000},
            {id: "section_4", key: "150,000 - 200,000", value: 175000},
            {id: "section_5", key: "200,000 - 250,000", value: 225000},
            {id: "section_6", key: "250,000 - 300,000", value: 275000},
            {id: "section_7", key: "300,000 - 350,000", value: 325000},
            
        ],
        // Lists for subcategory section for mileage
        mileageRange1: [
            {key:"0 - 5,000", value: 2500},
            {key:"5,000 - 10,000", value: 7500},
            {key:"10,000 - 15,000", value: 12500},
            {key:"15,000 - 20,000", value: 17500},
            {key:"20,000 - 25,000", value: 22500},
            {key:"25,000 - 30,000", value: 27500},
            {key:"30,000 - 35,000", value: 32500},
            {key:"35,000 - 40,000", value: 37500},
            {key:"40,000 - 45,000", value: 42500},
            {key:"45,000 - 50,000", value: 47500},
        ],
        mileageRange2: [
            {key:"50,000 - 55,000", value: 52500},
            {key:"55,000 - 60,000", value: 57500},
            {key:"60,000 - 65,000", value: 62500},
            {key:"65,000 - 70,000", value: 67500},
            {key:"70,000 - 75,000", value: 72500},
            {key:"75,000 - 80,000", value: 77500},
            {key:"80,000 - 85,000", value: 82500},
            {key:"85,000 - 90,000", value: 87500},
            {key:"90,000 - 95,000", value: 92500},
            {key:"95,000 - 100,000", value: 97500},
        ],
        mileageRange3: [
            {key:"100,000 - 105,000", value: 102500},
            {key:"105,000 - 110,000", value: 107500},
            {key:"110,000 - 115,000", value: 112500},
            {key:"115,000 - 120,000", value: 117500},
            {key:"120,000 - 125,000", value: 122500},
            {key:"125,000 - 130,000", value: 127500},
            {key:"130,000 - 135,000", value: 132500},
            {key:"135,000 - 140,000", value: 137500},
            {key:"140,000 - 145,000", value: 142500},
            {key:"145,000 - 150,000", value: 147500},
        ],
        mileageRange4: [
            {key:"150,000 - 155,000", value: 152500},
            {key:"155,000 - 160,000", value: 157500},
            {key:"160,000 - 165,000", value: 162500},
            {key:"165,000 - 170,000", value: 167500},
            {key:"170,000 - 175,000", value: 172500},
            {key:"175,000 - 180,000", value: 177500},
            {key:"180,000 - 185,000", value: 182500},
            {key:"185,000 - 190,000", value: 187500},
            {key:"190,000 - 195,000", value: 192500},
            {key:"195,000 - 200,000", value: 197500},
        ],
        mileageRange5: [
            {key:"200,000 - 205,000", value: 202500},
            {key:"205,000 - 210,000", value: 207500},
            {key:"210,000 - 215,000", value: 212500},
            {key:"215,000 - 220,000", value: 217500},
            {key:"220,000 - 225,000", value: 222500},
            {key:"225,000 - 230,000", value: 227500},
            {key:"230,000 - 235,000", value: 232500},
            {key:"235,000 - 240,000", value: 237500},
            {key:"240,000 - 245,000", value: 242500},
            {key:"245,000 - 250,000", value: 247500},
        ],
        mileageRange6: [
            {key:"250,000 - 255,000", value: 252500},
            {key:"255,000 - 260,000", value: 257500},
            {key:"260,000 - 265,000", value: 262500},
            {key:"265,000 - 270,000", value: 267500},
            {key:"270,000 - 275,000", value: 272500},
            {key:"275,000 - 280,000", value: 277500},
            {key:"280,000 - 285,000", value: 282500},
            {key:"285,000 - 290,000", value: 287500},
            {key:"290,000 - 295,000", value: 292500},
            {key:"295,000 - 300,000", value: 297500},
        ],
        mileageRange7: [
            {key:"300,000 - 305,000", value: 302500},
            {key:"305,000 - 310,000", value: 307500},
            {key:"310,000 - 315,000", value: 312500},
            {key:"315,000 - 320,000", value: 317500},
            {key:"320,000 - 325,000", value: 322500},
            {key:"325,000 - 330,000", value: 327500},
            {key:"330,000 - 335,000", value: 332500},
            {key:"335,000 - 340,000", value: 337500},
            {key:"340,000 - 345,000", value: 342500},
            {key:"345,000 - 350,000", value: 347500},
        ],
    }),
    computed: {
        mileage: {
            get() {
                return this.$store.state.vehicle.mileage;
            },
            set(val) {
                this.UPDATE_MILEAGE(val);
            }
        },
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Vehicle module
        ...mapMutations('vehicle', [
            'UPDATE_MILEAGE',
        ]),
        // Displays proper child element(s)
        renderMileageRange(val) {
            trackSteps('app-tracking', 'click', 'click-vehicle-mileage')

            for(let key in this.mileage_tree) {
                let property_key = this.mileage_tree[key];

                if (property_key == true) {
                    this.mileage_tree[key] = false;    
                    this.mileage_tree[val] = true;    
                }
            }
        },
        // Gets and sets the value for the object (mileage)
        getMileage(value) {
            trackSteps('app-tracking', 'click', 'click-vehicle-mileage-2')
            this.mileage = value.value;

            this.router('state');
        },
        router(val) {
            EventBus.$emit('ROUTER', val);   
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../../assets/base';
    @import '../../../assets/animations';

    .custom_row {
        margin-bottom: 2%;
    }

    .custom_col {
        padding: 0px 4px 8px 4px !important;
    }

    .mileage_header {
        font-weight: 400;
        margin-bottom: 23px !important;    
    }

    .vehicle_mileage_btn {
        white-space: nowrap !important;
    }
</style>
