<template>
    <div class="vehicle_models container container-outline">
        <!-- Animation element -->
        <div class="row">
            <div class="">
                <font-awesome-icon 
                    class="fa-lg back_btn" 
                    icon="arrow-circle-left"
                    @click="router('makes')" 
                />
            </div>
            <h4 class="models_header col-12 text-center">
                {{$t('vehicle_models.header')}}
            </h4>
        </div>
        <transition name="slide" appear>
            <div class="row custom_row">
                <!-- Rendered vehicle models -->
                <div class="col-6" 
                     v-for="model in models_list" 
                     :key="model.key" 
                     :value="model.value"
                >
                    <button class="
                                btn 
                                vehicle_models_btn
                                mobile_touch_button
                            " 
                            type="button"  
                            @click="getModel(model.value)"
                            :disabled="disabled" 
                    >
                        {{model.value}}                           
                    </button>
                </div>
            </div>
        </transition>
        <Footer />
        <Modal/>
    </div>
</template>

<script>
// Modal
import Modal from '@/components/modals/mobile-touch/modal_storage.vue';
// Footer
import Footer from '@/components/mobile-touch/footer/footer.vue';
// Import API functions
import Api from '@/api/api';
// Import exports from vuex
import {mapMutations} from 'vuex';
// Importing Event Bus
import {EventBus} from '@/event-bus';

import debugLog from '@/debug/log';
import trackSteps from '@/events/track-steps'

export default {
    name: 'vehicle_models',
    components: {
        Modal,
        Footer
    },
    data: () => ({
        disabled: false,
    }),
    computed: {
        model: {
            get() {
                return this.$store.state.vehicle.model;
            },
            set(val) {
                this.UPDATE_MODEL(val);
            }
        },
        models_list: {
            get() {
                return this.$store.state.vehicle.models_list;
            },
            set(val) {
                this.UPDATE_MODELS_LIST(val);
            }
        },
        styles_list: {
            get() {
                return this.$store.state.vehicle.styles_list;
            },
            set(val) {
                this.UPDATE_STYLES_LIST(val);
            }
        }
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Vehicle module
        ...mapMutations('vehicle', [
            'UPDATE_MODEL',
            'UPDATE_MODELS_LIST',
            'UPDATE_STYLES_LIST',
        ]),
        // Gets and sets the value for the object (model)
        getModel(value) {
            trackSteps('app-tracking', 'click', 'click-vehicle-model')
            this.styles_list.splice(0, this.styles_list.length);
            this.model = value;
            this.disabled = !this.disabled;

            this.vehicleStyles();
        },
        vehicleStyles() {
            let api_payload = {...this.$store.state.vehicle};
            let payload = {
                year: api_payload.year,
                make: api_payload.make,  
                model: api_payload.model,  
            };

            Api.getVehicleInfo(payload, this.$root.apiUrl)
                .then((response) => {
                    let response_data = response.data.combined;

                    response_data.forEach((style, index) => {
                        var newStyleObj = {
                            key: index,
                            value: style
                        };
                        this.styles_list = newStyleObj;
                    });
                    this.disabled = !this.disabled ? true : false;
                })
                .then(() => {
                    this.router('styles');
                })
                .catch((error) => {
                    debugLog(error);
                });
        },
        router(val) {
            EventBus.$emit('ROUTER', val);   
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../../assets/base';
    @import '../../../assets/animations';

    .vehicle_models {
       .row .col-6 { 
           padding: 0px 4px 8px 4px !important;
        }

        .custom_row {
            margin-bottom: 2%;
        }
    }

    .models_header {
        font-weight: 400;
        margin-bottom: 23px !important;
    }

    .vehicle_models_btn {
        white-space: nowrap !important;
    }
</style>
