<template>
    <div class="loan_state container container-outline">                            
        <!-- Animation element -->
        <div class="row">
            <div class="">
                <font-awesome-icon 
                    class="fa-lg back_btn" 
                    icon="arrow-circle-left"
                    @click="router('mileage')" 
                />
            </div>
            <h4 class="state_header col-12 text-center">
                {{$t('state.header')}}
            </h4>
        </div>
        <transition name="slide" appear>  
            <!-- Vehicle year label -->
            <div class="row custom_row">
                <!-- Rendered state -->
                <div class="col-6" 
                     v-for="state in statesArray" 
                     :key="state.key" 
                     :value="state.value"
                >
                    <button class="
                                btn 
                                loan_state_btn
                                mobile_touch_button
                            " 
                            type="button" 
                            @click="getState(state)"
                    >
                        {{state.key}}                           
                    </button>                                      
                </div>
            
                <div class="col-6">
                    <button class="
                                btn 
                                loan_state_btn
                                mobile_touch_button
                            " 
                            type="button"
                            @click="trigger_modal('NON_AEL_STATE_MODAL')"
                    >
                        <!-- {{$t('other')}}                -->
                        {{$t('state.button_text')}}
                    </button> 
                </div>
            </div>
        </transition>
        <Footer />
        <Modal/>
    </div>
</template>

<script>
// Modal
import Modal from '@/components/modals/mobile-touch/modal_storage.vue';
// Footer
import Footer from '@/components/mobile-touch/footer/footer.vue';
// Import API functions
import Api from '@/api/api';
// Import exports from vuex
import {mapMutations, mapState} from 'vuex';
// Importing Event Bus
import {EventBus} from '@/event-bus';

import debugLog from '@/debug/log';
import trackSteps from '@/events/track-steps'

export default {
    name: 'loan_states',
    components: {
        Modal,
        Footer
    },
    data: () => ({
        api_payload: {},
        state_abbreviation: '',
        statesArray: [
            {key: "Alabama", value: "AL"},
            {key: "Arizona", value: "AZ"},
            {key: "California", value: "CA"},
            {key: "Delaware", value: "DE"},
            {key: "District of Columbia", value: "DC"},
            {key: "Florida", value: "FL"},
            {key: "Georgia", value: "GA"},
            {key: "Idaho", value: "ID"},
            {key: "Illinois", value: "IL"},
            {key: "Indiana", value: "IN"},
            {key: "Kansas", value: "KS"}, 
            {key: "Kentucky", value: "KY"},
            {key: "Michigan", value: "MI"},
            {key: "Mississippi", value: "MS"},
            {key: "Missouri", value: "MO"},
            {key: "New Mexico", value: "NM"},
            {key: "Ohio", value: "OH"},
            {key: "Oklahoma", value: "OK"},
            {key: "Oregon", value: "OR"},
            {key: "South Carolina", value: "SC"},
            {key: "South Dakota", value: "SD"},
            {key: "Tennessee", value: "TN"},
            {key: "Texas", value: "TX"},
            {key: "Utah", value: "UT"},
            {key: "Washington", value: "WA"},   
        ],
        otherStatesArray: [
            {key: "Alaska", value: "AK"},
            {key: "Arkansas", value: "AR"},
            {key: "Colorado", value: "CO"}, 
            {key: "Connecticut", value: "CT"},    
            {key: "Hawaii", value: "HI"},  
            {key: "Indiana", value: "IN"}, 
            {key: "Iowa", value: "IA"},  
            {key: "Louisiana", value: "LA"}, 
            {key: "Maine", value: "ME"}, 
            {key: "Maryland", value: "MD"}, 
            {key: "Massachusetts", value: "MA"}, 
            {key: "Michigan", value: "MI"},
            {key: "Minnesota", value: "MN"},
            {key: "Montana", value: "MT"},
            {key: "Nebraska", value: "NE"},
            {key: "Nevada", value: "NV"},
            {key: "New Hampshire", value: "NH"},
            {key: "New Jersey", value: "NJ"},
            {key: "New York", value: "NY"},
            {key: "North Carolina", value: "NC"},
            {key: "North Dakota", value: "ND"},
            {key: "Palau", value: "PW"},
            {key: "Pennsylvania", value: "PA"},
            {key: "Puerto Rico", value: "PR"},
            {key: "Rhode Island", value: "RI"},
            {key: "Vermont", value: "VT"},
            {key: "Virgin Islands", value: "VI"},
            {key: "Virginia", value: "VA"},
            {key: "West Virginia", value: "WV"},
            {key: "Wisconsin", value: "WI"},
            {key: "Wyoming", value: "WY"}
        ]
    }),
    computed: {
        ...mapState('vehicle',[
            'year',
            'make',
            'model',
            'style',
            'mileage'
        ]),
        state: {
            get() {
                return this.$store.state.residence.state;
            },
            set(val) {
                this.UPDATE_STATE(val);
            }
        },
        default_loan_amount: {
            get() {
                return this.$store.state.user.default_loan_amount;
            },
            set(val) {
                this.UPDATE_DEFAULT_LOAN_AMOUNT(val);
            }
        },
        loan_type: {
            get() {
                return this.$store.state.user.loan_type;
            },
            set(val) {
                this.UPDATE_LOAN_TYPE(val);
            }
        },
        default_term: {
            get() {
                return this.$store.state.user.default_term;
            },
            set(val) {
                this.UPDATE_DEFAULT_TERM(val);
            }
        },
        user_obj() {
            return {
                'year': this.year,
                'make': this.make,
                'model': this.model,
                'style': this.style,
                'mileage': this.mileage,
                'state': this.state,
                'amount': this.default_loan_amount
            }
        },
        user() {
            return btoa(JSON.stringify(this.user_obj));
        },
        pageUrl: {
            get() {
                return `https://www.800loanmart.com`;
            }
        }
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // User module
        ...mapMutations('user', [
            'UPDATE_DEFAULT_LOAN_AMOUNT',
            'UPDATE_DEFAULT_TERM',
            'UPDATE_LOAN_TYPE',
        ]),
        ...mapMutations('residence', [
            'UPDATE_STATE'
        ]),
        // Gets and sets the value for the object (state)
        getState(value) {
            trackSteps('app-tracking', 'click', 'click-state')
            this.state = value.value;
            this.state_abbreviation = value.value;

            this.paymentQuote();
        },
        // Get Payment Quote
        paymentQuote() {
            let api_payload = {
                ...this.$store.state.residence,
                ...this.$store.state.user,
                ...this.$store.state.vehicle,
            };
            let payload = {
                make_description: api_payload.make,
                mileage: api_payload.mileage,
                model_description: api_payload.model,
                state: api_payload.state,
                style_description: api_payload.style,
                year: api_payload.year,
                make: '',
                model: '',
                style: '',
            };

            this.trigger_modal('PAGE_SPINNER_MODAL');

            Api.getPaymentQuote(payload, this.$root.apiUrl)
                .then((response) => {
                    let amount = response.data.GetPaymentQuoteResult.DefaultLoanAmount;
                    let term = response.data.GetPaymentQuoteResult.DefaultTerm;

                    this.default_loan_amount = amount;
                    this.default_term = term;
                    this.loan_type = this.default_loan_amount >= 10500 ? 0 : 4;
                    
                    this.trigger_modal('PAGE_SPINNER_KILL');
                })
                .then(() => {
                    this.state_redirect(this.state_abbreviation);   
                })
                .catch((error) => {
                    debugLog('Error', error.response);

                    this.trigger_modal('PAGE_SPINNER_KILL');

                    this.timeOut();
                    
                });
        },
        // State Redirect
        state_redirect(state) {
            switch (state) {
                case 'DC':
                case 'DE':
                case 'FL':
                case 'IL':
                case 'IN':
                case 'KS':
                case 'KY':
                case 'MI':
                case 'MS':
                case 'OH':    
                case 'OK':
                case 'OR':
                case 'SD':
                case 'TN':
                case 'TX':
                case 'WA':
                    trackSteps('app-tracking', 'redirect', 'ccb-lead');
                    this.user_obj['ccb'] = true;
                    window.location.href = `${this.pageUrl}/ccb-lead/?user=${this.user}`;
                    break;
                case 'CA':
                    if (this.default_loan_amount < 10500) {
                        this.user_obj['ccb'] = true;
                        window.location.href = `${this.pageUrl}/ccb-ca-lead/?user=${this.user}`;        
                    } else {
                        this.router('user_profile');
                    }
                    break;
                default:
                    this.router('user_profile');
                    break;
            }
        },

        timeOut() {
            setTimeout(() => {
                this.trigger_modal('UNQUALIFIED_MODAL');
            }, 500);
        },
        trigger_modal(val) {
            EventBus.$emit(val);
        },
        router(val) {
            EventBus.$emit('ROUTER', val);   
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../../assets/base';
    @import '../../../assets/animations';

    .loan_state {
        .row .col-6{
            padding: 0px 4px 8px 4px !important;
        }

        .custom_row {
            margin-bottom: 2%;
        }
    }

    .state_header {
        font-weight: 400;
        margin-bottom: 23px !important;     
    }

    .loan_state_btn {
        white-space: nowrap !important;
    }
</style>
