<template>
    <div class="vehicle_styles container container-outline">
        <!-- Animation element -->
        <div class="row">
            <div class="">
                <font-awesome-icon 
                    class="fa-lg back_btn" 
                    icon="arrow-circle-left"
                    @click="router('models')" 
                />
            </div>
            <h4 class="styles_header col-12 text-center">
                {{$t('vehicle_styles.header')}}
            </h4>
        </div>
        <transition name="slide" appear>
            <div class="row custom_row">
                <!-- Rendered vehicle styles -->
                <div class="col-12 custom_col" 
                        v-for="style in styles_list" 
                        :key="style.key" 
                        :value="style.value"
                >
                    <button class="
                                btn 
                                vehicle_styles_btn
                                mobile_touch_button
                            " 
                            type="button"  
                            @click="getStyle(style.value)"
                    >
                        {{style.value}}                           
                    </button>
                </div>
            </div>
        </transition>
        <Footer />
        <Modal/>
    </div>
</template>

<script>
import jsonSeedApi from '@/api/seeds/api-database.json';
// Modal
import Modal from '@/components/modals/mobile-touch/modal_storage.vue';
// Footer
import Footer from '@/components/mobile-touch/footer/footer.vue';
// Import exports from vuex
import {mapMutations} from 'vuex';
// Importing Event Bus
import {EventBus} from '@/event-bus';
import trackSteps from '@/events/track-steps'

export default {
    name: 'vehicle_styles',
    components: {
        Modal,
        Footer
    },
    data: () => ({
        // properties
    }),
    computed: {
        style: {
            get() {
                return this.$store.state.vehicle.style;
            },
            set(val) {
                this.UPDATE_STYLE(val);
            }
        },
        styles_list: {
            get() {
                return this.$store.state.vehicle.styles_list;
            },
            set(val) {
                this.UPDATE_STYLES_LIST(val);
            }
        }
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Vehicle module
        ...mapMutations('vehicle', [
            'UPDATE_STYLE',
            'UPDATE_STYLE_DESCRIPTION',
            'UPDATE_STYLES_LIST',
        ]),
        // Gets and sets the value for the object (style)
        getStyle(value) {
            trackSteps('app-tracking', 'click', 'click-vehicle-style')
            this.style = value;
            this.router('mileage')
        },
        router(val) {
            EventBus.$emit('ROUTER', val);   
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../../assets/base';
    @import '../../../assets/animations';

    .custom_row {
        margin-bottom: 7%;
    }
    
    .custom_col {
        padding: 0px 4px 8px 4px !important;
    }

    .styles_header {
        font-weight: 400;
        margin-bottom: 23px !important;    
    }

    .vehicle_styles_btn {
        white-space: nowrap !important;
    }
</style>
