<template>
    <div class="vehicle_years container container-outline">
        <!-- Animation element -->
        <div class="row">
            <div class="" 
                 v-if="!vehicle_years_tree.current"  
            >
                <font-awesome-icon 
                    class="fa-lg back_btn" 
                    icon="arrow-circle-left" 
                    @click="renderYears('current')" 
                />
            </div>
       
            <h5 class="col-12 text-center">
                <b>
                    {{$t('vehicle_years.header')}}
                </b>
            </h5>
            <h5 class="sub-text col-12 text-center">
                {{$t('vehicle_years.sub_header')}}
            </h5>
        </div>
        <transition name="slide" appear>
            <div class="row" v-if="vehicle_years_tree.current">                                      
                <div class="col-4" 
                     v-for="year in currentVehiclesArray" 
                     :key="year.key" 
                     :value="year.value"
                >
                    <button class="
                                btn 
                                vehicle_years_btn 
                                mobile_touch_button
                            " 
                            type="button"
                            @click="getYear(year)"
                    >
                        {{year.key}}                            
                    </button> 
                </div>
                <!-- Older button that toggles display based off condtion -->
                <div class="col-4">
                    <button class="
                                btn 
                                vehicle_years_btn 
                                mobile_touch_button
                            " 
                            type="button" 
                            @click="renderYears('older')"
                    >
                        {{$t('vehicle_years.button_text.older')}}
                    </button> 
                </div>
                <!-- Newer button that toggles display based off condition -->
                <div class="col-4">
                    <button class="
                                btn 
                                vehicle_years_btn
                                mobile_touch_button
                            " 
                            type="button" 
                            @click="renderYears('newer')"
                    >
                        {{$t('vehicle_years.button_text.newer')}}
                    </button> 
                </div>                                    
            </div>
        </transition>
        <!-- Transition element for older vehicle years -->
        <transition name="slide" >
            <div class="row" v-if="vehicle_years_tree.older">
                <div class="col-4" 
                     v-for="year in oldVehiclesYears" 
                     :key="year.key" 
                     :value="year.value"
                >
                    <button class="
                            btn 
                            vehicle_years_btn
                            mobile_touch_button
                        " 
                            type="button" 
                            @click="getYear(year)"
                    >
                        {{year.key}}                            
                    </button>
                </div>
                <!-- Classic button used to render a modal on click -->
                <div class="col-4">
                    <button type="button" 
                            class="
                                btn 
                                vehicle_years_btn
                                mobile_touch_button
                            " 
                            @click="trigger_modal('CLASSIC_VEHICLE_MODAL')" 
                    >
                        {{$t('vehicle_years.button_text.classic')}}
                    </button>
                </div>
            </div>
        </transition>
        <!-- Transition element for newer vehicle years -->
        <transition name="slide">
            <div class="row" v-if="vehicle_years_tree.newer">
                <!-- Rendered newer vehicle years -->
                <div class="col-4" 
                     v-for="year in newVehicleYears" 
                     :key="year.key" 
                     :value="year.value"
                >
                    <button class="
                            btn 
                            vehicle_years_btn 
                            mobile_touch_button
                        " 
                            type="button" 
                            @click="getYear(year)"
                    >
                        {{year.key}}                            
                    </button>
                </div>
            </div>
        </transition>
        <div class="row special">
            <div class="col-12">
                <p class="paid_off" 
                   @click="trigger_modal('PAID_OFF_VEHICLE_MODAL')"
                >
                    <u>
                        {{$t('vehicle_years.footer')}}
                    </u>
                </p>
            </div>
        </div>
        <Footer />
        <Modal/>
    </div>
</template>

<script>
import jsonSeedApi from '@/api/seeds/api-database.json';
// Modal
import Modal from '@/components/modals/mobile-touch/modal_storage.vue';
// Footer
import Footer from '@/components/mobile-touch/footer/footer.vue';
// Import exports from vuex
import {mapMutations} from 'vuex';
import {EventBus} from '@/event-bus';
import trackSteps from '@/events/track-steps'

export default {
    name: 'vehicle_years',
    components: {
        Modal,
        Footer
    },
    data: () => ({
        seedApi: jsonSeedApi, // from /seeds/api-database.json
        vehicle_years_tree: {
            older: false,
            current: true,
            newer: false,
        },        
        // Array for current/main years   
        currentVehiclesArray: [
            {key: '1999', value: '1999'},
            {key: '2000', value: '2000'},
            {key: '2001', value: '2001'},
            {key: '2002', value: '2002'},
            {key: '2003', value: '2003'},
            {key: '2004', value: '2004'},
            {key: '2005', value: '2005'},
            {key: '2006', value: '2006'},
            {key: '2007', value: '2007'},
            {key: '2008', value: '2008'},
            {key: '2009', value: '2009'},
            {key: '2010', value: '2010'},
            {key: '2011', value: '2011'},
            {key: '2012', value: '2012'},
            {key: '2013', value: '2013'},
            {key: '2014', value: '2014'}
        ],
        oldVehiclesYears: [],
        newVehicleYears: [],
        
    }),
    computed: {
        year: {
            get() {
                return this.$store.state.vehicle.year;
            },
            set(val) {
                this.UPDATE_YEAR(val);
            }
        },
        makes_list: {
            get() {
                return this.$store.state.vehicle.makes_list;
            },
            set(val) {
                this.UPDATE_MAKES_LIST(val);
            }    
        }
    },
    created () {
        this.populateYears();
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Vehicle module
        ...mapMutations('vehicle', [
            'UPDATE_YEAR',
            'UPDATE_MAKES_LIST'
        ]),
        // Function to populate years array(s)
        populateYears() {
            Object.keys(this.seedApi).forEach((year) => {
                if(year <= 1998) {
                    var oldYearObj = { 
                        key: year,
                        value: year
                    };
                    this.oldVehiclesYears.push(oldYearObj);
                }
                else if(year > 2014 && year < 2020) {
                    var newYearObj = {
                        key: year,
                        value: year
                    };
                    this.newVehicleYears.push(newYearObj);
                }
            });            
        },
        renderYears(val) {
            for(let key in this.vehicle_years_tree) {
                let property_key = this.vehicle_years_tree[key];

                if (property_key == true) {
                    this.vehicle_years_tree[key] = false;    
                    this.vehicle_years_tree[val] = true;    
                }
            }
        },
        // Gets and sets the value for the object (year)
        getYear(value) {
            trackSteps('app-tracking', 'click', 'click-vehicle-year')
            this.makes_list.splice(0, this.makes_list.length);
            this.year = value.value;
            let makes = this.seedApi[value.value];

            Object.keys(makes).forEach((car_name) => {
                var newMakeObj = {
                    key: car_name,
                    value: makes[car_name].id
                };
               this.makes_list = newMakeObj;
            });
            
            this.router('makes');
        },
        trigger_modal(val) {
            EventBus.$emit(val);
        },
        router(val) {
            EventBus.$emit('ROUTER', val);   
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../../assets/base';
    @import '../../../assets/buttons';
    @import '../../../assets/animations';

    .vehicle_years .row .col-4 {
        padding: 0px 4px 8px 4px !important;
    }

    .vehicle_years {
        .sub-text {
            opacity: .6;
            margin-bottom: 21px;
        }

        .paid_off {
            margin-top: 13px;
            margin-bottom: 5px;
            
        }

        u {
            font-weight: 700!important;
            color: $secondary-grey!important;
            cursor: pointer;
        }
    }
</style>
