<template>
    <div>
        <transition name="fadeIn">
            <div v-if="isOpen">
                <div class="overlay" 
                     @click.self="isOpen = false;"
                >
                    <div class="modal-custom">
                        <div class="row">
                            <div class="col text-right x-modal-close"
                                 @click.self="isOpen = false;"
                            >
                                X   
                            </div>
                        </div>
                        <p>
                            {{$t('modals.change_state_zip.body_text.fragment_1')}} {{state}} {{$t('modals.change_state_zip.body_text.fragment_2')}} {{updated_state}}
                        </p>
                        <button 
                            class="btn mobile_touch_button"
                            @click="
                                router('state'),
                                isOpen = false;
                            "
                        >   
                            {{$t('modals.change_state_zip.button_text.change_state')}}
                        </button>
                        <button 
                            class="btn mobile_touch_button"
                            @click.self="isOpen = false;"
                        >   
                            {{$t('modals.change_state_zip.button_text.change_zip_code')}}
                        </button>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import {EventBus} from '@/event-bus';
import trackSteps from '@/events/track-steps'

// Import exports from vuex
import {mapMutations, mapState} from 'vuex';

export default {
    name: 'change-state-zip-modal',
    data: () => ({
        isOpen: false
    }),
    mounted () {
        EventBus.$on('CHANGE_STATE_ZIP_MODAL', () => {
            trackSteps('app-tracking', 'modal', this.name)
            this.change_state_zip_modal();
        });
    },
    computed: {
        ...mapState('user', [
            'state',
            'updated_state',
        ]),
    },
    methods: {
        change_state_zip_modal() {
            this.isOpen = !this.isOpen;    
        },
        router(val) {
            EventBus.$emit('ROUTER', val);   
        }
    },
};
</script>

<style scoped lang="scss">
    .modal-custom {
        width: 500px;
        margin: 0px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px 3px;
        transition: all 0.2s ease-in;
        font-family: Helvetica, Arial, sans-serif;
    }

    .x-modal-close {
        cursor: pointer;
    }

    .fadeIn-enter {
        opacity: 0;
    }

    .fadeIn-leave-active {
        opacity: 0;
        transition: all 0.2s step-end;
    }

    .fadeIn-enter .modal-custom,
    .fadeIn-leave-active.modal-custom {
        transform: scale(1.1);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #00000094;
        z-index: 999;
        transition: opacity 0.2s ease;
    }

    .modal-custom {
        button:nth-child(2n) {
            margin-top: 8px;
        }
    }
</style>
