<template>
    <div>
        <transition name="fadeIn">
            <div v-if="isOpen">
                <div class="overlay" 
                     @click.self="isOpen = false;"
                >
                    <div class="modal-custom">
                        <div class="row">
                            <div class="col text-right x-modal-close"
                                 @click.self="isOpen = false;"
                            >
                                X   
                            </div>
                        </div>
                        <p>
                            {{$t('modals.expired_session.body_text.fragment_1')}}
                        </p>
                        <p>
                            {{$t('modals.expired_session.body_text.fragment_2')}}
                        </p>
                        <p>
                           {{$t('modals.expired_session.body_text.fragment_3')}}:
                        </p>
                        <a href="tel:1-855-548-9050">1-855-548-9050</a>
                        <p>
                            {{$t('modals.expired_session.body_text.fragment_4')}}
                        </p>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import {EventBus} from '@/event-bus';
import trackSteps from '@/events/track-steps'

export default {
    name: 'expired-session-modal',
    data: () => ({
        isOpen: false
    }),
    mounted () {
        EventBus.$on('EXPIRED_SESSION_MODAL', () => {
            trackSteps('app-tracking', 'modal', this.name)
            this.expired_session_modal();
        });
    },
    methods: {
        expired_session_modal() {
            this.isOpen = !this.isOpen;    
        }
    },
};
</script>

<style scoped lang="scss">
    .modal-custom {
        width: 500px;
        margin: 0px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px 3px;
        transition: all 0.2s ease-in;
        font-family: Helvetica, Arial, sans-serif;
    }

    .x-modal-close {
        cursor: pointer;
    }

    .fadeIn-enter {
        opacity: 0;
    }

    .fadeIn-leave-active {
        opacity: 0;
        transition: all 0.2s step-end;
    }

    .fadeIn-enter .modal-custom,
    .fadeIn-leave-active.modal-custom {
        transform: scale(1.1);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #00000094;
        z-index: 999;
        transition: opacity 0.2s ease;
    }
</style>
