<template>
    <div>
        <ChangeStateOrZip />
        <ClassicModal />
        <ExistingUser />
        <ExpiredSession />
        <NonAelState />
        <NoTextOrCalls />
        <OtherMakes />
        <PageSpinner />
        <PaidOffVehicle />
        <Unqualified />
    </div>
</template>

<script>
import ChangeStateOrZip from '@/components/modals/mobile-touch/change_state_zip';
import ClassicModal from '@/components/modals/mobile-touch/classic_vehicle';
import ExistingUser from '@/components/modals/mobile-touch/existing_user';
import ExpiredSession from '@/components/modals/mobile-touch/expired_session';
import NonAelState from '@/components/modals/mobile-touch/non_ael_state';
import NoTextOrCalls from '@/components/modals/mobile-touch/no_text_or_calls';
import OtherMakes from '@/components/modals/mobile-touch/other_makes';
import PaidOffVehicle from '@/components/modals/mobile-touch/paid_off_vehicle';
import Unqualified from '@/components/modals/mobile-touch/unqualified';
import PageSpinner from '@/components/modals/mobile-touch/page_spinner';

export default {
    name: 'modals',
    components: {
        ChangeStateOrZip,
        ClassicModal,
        ExistingUser,
        ExpiredSession,
        NonAelState,
        NoTextOrCalls,
        OtherMakes,
        PageSpinner,
        PaidOffVehicle,
        Unqualified,
    },
    data: () => ({
        // Properties go here
    }),
    mounted () {
        // Code
    },
};
</script>

<style scoped lang="scss">

</style>
