<template>
    <div>
        <transition name="fadeIn">
            <div v-if="isOpen">
                <div class="overlay" 
                     @click.self="isOpen = false;"
                >
                    <div class="modal-custom">
                        <div class="row">
                            <div class="col text-right x-modal-close"
                                 @click="
                                    continue_form_submission('CONTINUE_FORM_SUBMISSION', bypass_secondary), 
                                    isOpen = false;
                                 "
                            >
                                X   
                            </div>
                        </div>
                        <p>
                            {{$t('modals.no_text_or_calls.body_text')}}
                        </p>
                        <div class="col">
                            <button id="noTcpa" 
                                    type="button" 
                                    class="
                                        btn 
                                        btn-lg
                                        mobile_touch_button 
                                    "
                                    @click="
                                        continue_form_submission('CONTINUE_FORM_SUBMISSION', bypass_secondary), 
                                        isOpen = false;
                                    "
                            >
                                {{$t('modals.no_text_or_calls.button_text.cancel')}}
                            </button>
                        </div>
                        <div class="col">
                            <button id="yesTcpa" 
                                    type="button" 
                                    class="
                                        btn 
                                        btn-lg
                                        mobile_touch_button
                                        mt-2
                                    "
                                    @click="
                                        continue_form_submission('CONTINUE_FORM_SUBMISSION', bypass_primary),
                                        isOpen = false;
                                    "
                            >
                                {{$t('modals.no_text_or_calls.button_text.ok')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import {EventBus} from '@/event-bus';
import trackSteps from '@/events/track-steps'

// Import exports from vuex
import {mapMutations} from 'vuex';

export default {
    name: 'no-text-or-calls-modal',
    data: () => ({
        isOpen: false,
        bypass_primary: {
            texts_and_calls:true,
            bypass: false
        },
        bypass_secondary: {
            texts_and_calls: false,
            bypass: true
        }
    }),
    computed: {
        texts_and_calls: {
            get() {
                return this.$store.state.user.texts_and_calls;
            },
            set(val) {
                this.UPDATE_TEXTS_AND_CALLS(val);
            }
        },
    },
    mounted () {
        EventBus.$on('NO_TEXT_OR_CALLS_MODAL', () => {
            trackSteps('app-tracking', 'modal', this.name)
            this.no_text_or_calls_modal();
        });
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Vehicle module
        ...mapMutations('user', [
            'UPDATE_TEXTS_AND_CALLS',
        ]),
        no_text_or_calls_modal() {
            this.isOpen = !this.isOpen;    
        },
        trigger_modal(val) {
            EventBus.$emit(val);
        },
        continue_form_submission(val, payload) {
            EventBus.$emit(val, payload)
        },
    },
};
</script>

<style scoped lang="scss">
    .modal-custom {
        width: 500px;
        margin: 0px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px 3px;
        transition: all 0.2s ease-in;
        font-family: Helvetica, Arial, sans-serif;
    }

    .x-modal-close {
        cursor: pointer;
    }

    .fadeIn-enter {
        opacity: 0;
    }

    .fadeIn-leave-active {
        opacity: 0;
        transition: all 0.2s step-end;
    }

    .fadeIn-enter .modal-custom,
    .fadeIn-leave-active.modal-custom {
        transform: scale(1.1);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #00000094;
        z-index: 999;
        transition: opacity 0.2s ease;
    }
</style>
