<template>
    <div>
        <transition name="fadeIn">
            <div v-if="isOpen">
                <div class="overlay" 
                     @click.self="isOpen = false;"
                >
                    <div class="modal-custom text-left">
                        <div class="row">
                            <div class="col text-right x-modal-close"
                                 @click.self="isOpen = false;"
                            >
                                X   
                            </div>
                        </div>
                        <p>
                            {{$t('modals.non_ael_state.body_text.fragment_1')}}
                        </p>
                        <p>
                            {{$t('modals.non_ael_state.body_text.fragment_2')}}
                        </p>
                        <p>
                            {{$t('modals.non_ael_state.body_text.fragment_3.sub_fragment_1')}} <a href="#">{{$t('modals.non_ael_state.body_text.fragment_3.sub_fragment_2')}}</a> {{$t('modals.non_ael_state.body_text.fragment_3.sub_fragment_3')}}
                        </p>
                        <p>
                            <a href="#" @click="clear_interval(), isOpen = false;">
                                {{$t('modals.non_ael_state.body_text.fragment_4.sub_fragment_1')}}
                            </a>
                            {{$t('modals.non_ael_state.body_text.fragment_4.sub_fragment_2')}}
                        </p>
                        <p>
                            {{$t('modals.non_ael_state.body_text.fragment_5')}}
                        </p>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import {EventBus} from '@/event-bus';
import trackSteps from '@/events/track-steps'

export default {
    name: 'non-ael-state-modal',
    data: () => ({
        isOpen: false,
        timer: ''
    }),
    mounted () {
        EventBus.$on('NON_AEL_STATE_MODAL', () => {
            trackSteps('app-tracking', 'modal', this.name)
            this.non_ael_state_modal();
        });
    },
    methods: {
        non_ael_state_modal() {
            this.isOpen = !this.isOpen;
            this.set_time_out();    
        },
        set_time_out() {
            this.timer = setTimeout(() => {
                this.redirect;
            }, 10000);
        },
        clear_interval() {
            clearTimeout(this.timer);
        },
        redirect() {
            window.location ='https://tmgloanprocessing.com/loanmart/';
        },
    },
};
</script>

<style scoped lang="scss">
    .modal-custom {
        width: 500px;
        margin: 0px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px 3px;
        transition: all 0.2s ease-in;
        font-family: Helvetica, Arial, sans-serif;
    }

    .x-modal-close {
        cursor: pointer;
    }

    .fadeIn-enter {
        opacity: 0;
    }

    .fadeIn-leave-active {
        opacity: 0;
        transition: all 0.2s step-end;
    }

    .fadeIn-enter .modal-custom,
    .fadeIn-leave-active.modal-custom {
        transform: scale(1.1);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #00000094;
        z-index: 999;
        transition: opacity 0.2s ease;
    }
</style>
