<template>
    <div>
        <transition name="fadeIn">
            <div v-if="isOpen">
                <div class="overlay" 
                     @click.self="isOpen = false;"
                >
                    <div class="modal-custom">
                        <p>
                            <font-awesome-icon class="fa-6x _fa-spinner" icon="spinner" />
                        </p>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import {EventBus} from '@/event-bus';
// Import exports from vuex
import {mapMutations} from 'vuex';

export default {
    name: 'page-spinner-modal',
    data: () => ({
        isOpen: false
    }),
    computed: {

    },
    created () {
        EventBus.$on('PAGE_SPINNER_MODAL', () => {
            this.page_spinner_modal();
        });
        EventBus.$on('PAGE_SPINNER_KILL', () => {
            this.page_spinner_kill();
        });
    },
    methods: {
        page_spinner_modal() {
            this.isOpen = !this.isOpen;    
        },
        page_spinner_kill() {
            this.isOpen = !this.isOpen;
        }
    },
};
</script>

<style scoped lang="scss">
    @import '../../../assets/base';

    .modal-custom {
        width: 500px;
        margin: 0px auto;
        padding: 20px;
        border-radius: 2px;
        transition: all 0.2s ease-in;
        font-family: Helvetica, Arial, sans-serif;
    }

    .fadeIn-enter {
        opacity: 0;
    }

    .fadeIn-leave-active {
        opacity: 0;
        transition: all 0.2s step-end;
    }

    .fadeIn-enter .modal-custom,
    .fadeIn-leave-active.modal-custom {
        transform: scale(1.1);
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #00000094;
        z-index: 999;
        transition: opacity 0.2s ease;
    }
        /** Loader **/
    ._fa-spinner {
        color: $primary-green;
    }
    /* keyframes for spinner */
    @keyframes spinner {
        to { transform: rotate(360deg); }
    }
    /* This is the class name given by the Font Awesome component when icon contains 'spinner' */
    .fa-spinner {
        /* Apply 'spinner' keyframes looping once every second (1s)  */
        animation: spinner 1s linear infinite;
    }
</style>
