<template>
    <div>
        <transition name="fadeIn">
            <div v-if="isOpen">
                <div class="overlay" 
                     @click.self="isOpen = false;"
                >
                    <div class="modal-custom">
                        <div class="row">
                            <div class="col text-right x-modal-close"
                                 @click.self="isOpen = false;"
                            >
                                X   
                            </div>
                        </div>
                        <p>
                            {{$t('modals.paid_off_vehicle.body_text')}}
                        </p>
                        <button class="btn mobile_touch_button"
                                @click="pul_redirect()"
                        >   
                            {{$t('modals.paid_off_vehicle.button_text.paid_off_vehicle')}}   
                        </button>
                        <button class="btn mobile_touch_button mt-3"
                                @click.self="isOpen = false;"
                        >   
                            {{$t('modals.paid_off_vehicle.button_text.take_me_back')}} 
                        </button>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import {EventBus} from '@/event-bus';
import trackSteps from '@/events/track-steps'

export default {
    name: 'paid-off-vehicle-modal',
    data: () => ({
        isOpen: false
    }),
    mounted () {
        EventBus.$on('PAID_OFF_VEHICLE_MODAL', () => {
            trackSteps('app-tracking', 'modal', this.name)
            this.paid_off_vehicle_modal();
        });
    },
    methods: {
        paid_off_vehicle_modal() {
            this.isOpen = !this.isOpen;    
        },
        pul_redirect() {
            window.location ='https://www2.800loanmart.com/personal-loans/personal-loan-application';
        },
    },
};
</script>

<style scoped lang="scss">
    .modal-custom {
        width: 500px;
        margin: 0px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px 3px;
        transition: all 0.2s ease-in;
        font-family: Helvetica, Arial, sans-serif;
    }

    .x-modal-close {
        cursor: pointer;
    }

    .fadeIn-enter {
        opacity: 0;
    }

    .fadeIn-leave-active {
        opacity: 0;
        transition: all 0.2s step-end;
    }

    .fadeIn-enter .modal-custom,
    .fadeIn-leave-active.modal-custom {
        transform: scale(1.1);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #00000094;
        z-index: 999;
        transition: opacity 0.2s ease;
    }
</style>
