<template>
    <div>
        <transition name="fadeIn">
            <div v-if="isOpen">
                <div class="overlay" 
                     @click.self="isOpen = false;"
                >
                    <div class="modal-custom">
                        <div class="row">
                            <div class="col text-right x-modal-close"
                                 @click.self="
                                    isOpen = false, 
                                    router('years')
                                "
                            >
                                X   
                            </div>
                        </div>
                        <p>
                           {{$t('modals.unqualified.body_text.fragment_1')}} {{year}} {{make}} {{style}}
                        </p>
                        <p>
                            <b></b>
                        </p>
                        <p>
                            {{$t('modals.unqualified.body_text.fragment_2')}}
                        </p>
                        <a class="btn mobile_touch_button" 
                            href="tel:1-855-548-9050"
                            role="button"
                        >   
                            {{$t('modals.unqualified.button_text.call')}} 1-855-548-9050    
                        </a>
                        <button 
                            class="btn mobile_touch_button"
                            @click="
                                isOpen = false, 
                                router('years')
                            "
                        >   
                            {{$t('modals.unqualified.button_text.try_a_different_car')}}    
                        </button>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import {EventBus} from '@/event-bus';
import {mapMutations, mapState} from 'vuex';
import trackSteps from '@/events/track-steps'

export default {
    name: 'unqualified-modal',
    data: () => ({
        isOpen: false
    }),
    mounted () {
        EventBus.$on('UNQUALIFIED_MODAL', () => {
            trackSteps('app-tracking', 'modal', this.name)
            this.unqualified_modal();
        });
    },
    computed: {
        ...mapState('vehicle', [
            'year',
            'make',
            'style'
        ]),
    },
    methods: {
        unqualified_modal() {
            this.isOpen = !this.isOpen;    
        },
        router(val) {
            EventBus.$emit('ROUTER', val);   
        }
    },
};
</script>

<style scoped lang="scss">
    .modal-custom {
        width: 500px;
        margin: 0px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px 3px;
        transition: all 0.2s ease-in;
        font-family: Helvetica, Arial, sans-serif;
    }

    .x-modal-close {
        cursor: pointer;
    }

    .fadeIn-enter {
        opacity: 0;
    }

    .fadeIn-leave-active {
        opacity: 0;
        transition: all 0.2s step-end;
    }

    .fadeIn-enter .modal-custom,
    .fadeIn-leave-active.modal-custom {
        transform: scale(1.1);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #00000094;
        z-index: 999;
        transition: opacity 0.2s ease;
    }

    button.mobile_touch_button {
        margin-top: 12px;
    }
</style>
