<template>
    <div class="user_active_military">
        <ValidationProvider 
            name="active_military" 
            :rules="{required: { allowFalse: false }}"
            v-slot="{ errors }"
        >
            <input class="form-check-input" 
                   type="checkbox" 
                   id="active_military"
                   v-model="active_military"
            >
            <label class="form-check-label" for="active_military">
                {{$t('inputs.checkboxes.active_military')}}
            </label>
            <div class="row">
                <div class="col">
                    <span :class="{'input-error-message': errors.length == 1}">
                        {{ errors[0] }}
                    </span>
                </div>
            </div>
        </ValidationProvider>
    </div>
</template>

<script>
import { ValidationProvider } from 'vee-validate';
// Import API functions
import Api from '@/api/api';
// Import exports from vuex
import {mapMutations} from 'vuex';

export default {
    name: 'user_active_military',
    components: {
        ValidationProvider,
    },
    data: () => ({
        // Properties
    }),
    computed: {
        active_military: {
            get() {
                return this.$store.state.user.active_military;
            },
            set(val) {
                this.UPDATE_ACTIVE_MILITARY(val);
            }
        },
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Vehicle module
        ...mapMutations('user', [
            'UPDATE_ACTIVE_MILITARY',
        ]),
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../assets/base';
    @import '../../assets/validation';

</style>
