<template>
    <div class="user_address">
        <ValidationProvider 
            name="address" 
            rules="" 
            v-slot="{ errors }"
        >
            <input type="text" 
                   class="form-control"
                   :class="{'input-error': errors.length === 1}" 
                   id="inputAddress" 
                   :placeholder="$t('inputs.street_address')" 
                   v-model="address"
            >
            <div class="row">
                <div class="col">
                    <span :class="{'input-error-message': errors.length === 1}">
                        {{ errors[0] }}
                    </span>
                </div>
            </div>
        </ValidationProvider>
    </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate';
// Import API functions
import Api from '@/api/api';
// Import exports from vuex
import {mapMutations} from 'vuex';

export default {
    name: 'user_zip_code',
    components: {
        ValidationProvider,
    },
    data:() => ({
        // Properties
    }),
    computed: {
        address: {
            get() {
                return this.$store.state.residence.address;
            },
            set(val) {
                this.UPDATE_ADDRESS(val);
            }
        },
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Residence module
        ...mapMutations('residence', [
            'UPDATE_ADDRESS',
        ]),
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../assets/base';
    @import '../../assets/validation';

</style>
