<template>
    <div class="ccb_user_terms_and_conditions">
        <ValidationProvider 
            name="terms_and_conditions" 
            :rules="{required: { allowFalse: false }}" 
            v-slot="{ errors }"
        >
            <input class="form-check-input" 
                   type="checkbox" 
                   id="terms_and_conditions"
                   v-model="terms_and_conditions"
            >
            <label class="form-check-label" for="terms_and_conditions">
            
                {{$t('ccb_terms_and_conditions.fragment_1')}} <a :href="electronic_disclosure">Consent to Electronic Disclosures</a>, {{$t('ccb_terms_and_conditions.fragment_2')}} <a :href="terms_of_use">{{$t('ccb_terms_and_conditions.fragment_3')}}</a> <a :href="privacy_policy_disclosure">{{$t('ccb_terms_and_conditions.fragment_4')}}</a> {{$t('ccb_terms_and_conditions.fragment_5')}} <a :href="legal_privacy_policy">{{$t('ccb_terms_and_conditions.fragment_6')}}</a>.
            </label>
            <div class="row">
                <div class="col">
                    <span :class="{'input-error-message': errors.length == 1}">
                        {{ errors[0] }}
                    </span>
                </div>
            </div>
        </ValidationProvider>
    </div>
</template>

<script>
import { ValidationProvider } from 'vee-validate';
// Import API functions
import Api from '@/api/api';
// Import exports from vuex
import {mapMutations} from 'vuex';

export default {
    name: 'ccb_user_terms_and_conditions',
    components: {
        ValidationProvider,
    },
    data: () => ({
        electronic_disclosure: 'https://www2.800loanmart.com/electronic-disclosure-ccb/',
        terms_of_use: 'https://www2.800loanmart.com/application/terms-conditions.asp',
        privacy_policy_disclosure: 'https://www2.800loanmart.com/assets/documents/ccb-privacy-disclosure.pdf',
        legal_privacy_policy: 'https://www.800loanmart.com/legal-privacy-policy/',
    }),
    computed: {
        terms_and_conditions: {
            get() {
                return this.$store.state.user.terms_and_conditions;
            },
            set(val) {
                this.UPDATE_TERMS_AND_CONDITIONS(val);
            }
        },
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Vehicle module
        ...mapMutations('user', [
            'UPDATE_TERMS_AND_CONDITIONS',
        ]),
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../assets/base';
    @import '../../assets/validation';

</style>
