<template>
    <div class="user_city">
        <ValidationProvider 
            name="city" 
            rules="required" 
            v-slot="{ errors }"
        >
            <input type="text" 
                   class="form-control" 
                   id="inputCity" 
                   :placeholder="$t('inputs.city')" 
                   v-model="city"
                   :class="{'input-error': errors.length === 1}"
            >
            <div class="row">
                <div class="col">
                    <span :class="{'input-error-message': errors.length === 1}">
                        {{ errors[0] }}
                    </span>
                </div>
            </div>
        </ValidationProvider>
    </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate';
// Import API functions
import Api from '@/api/api';
// Import exports from vuex
import {mapMutations} from 'vuex';

export default {
    name: 'user_zip_code',
    components: {
        ValidationProvider,
    },
    data:() => ({
        
    }),
    computed: {
        city: {
            get() {
                return this.$store.state.residence.city;
            },
            set(val) {
                this.UPDATE_CITY(val);
            }
        },
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Vehicle module
        ...mapMutations('residence', [
            'UPDATE_CITY',
        ]),
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../assets/base';
    @import '../../assets/validation';

</style>
