<template>
    <div class="user_consent_to_share_information">
        <ValidationProvider 
            name="consent_to_share_information"
            rules="" 
            v-slot="{ errors }"
        >
            <input class="form-check-input" 
                   type="checkbox" 
                   id="consent_to_share_information"
                   v-model="consent_to_share_information"
            >
            <label class="form-check-label" for="consent_to_share_information">
                {{$t('inputs.checkboxes.consent_to_share_information.fragment_1')}} <a :href="sharing_information">{{$t('inputs.checkboxes.consent_to_share_information.fragment_2')}}</a>.
            </label>
            <div class="row">
                <div class="col">
                    <span :class="{'input-error-message': errors.length === 1}">
                        {{ errors[0] }}
                    </span>
                </div>
            </div>
        </ValidationProvider>
    </div>
</template>

<script>
import { ValidationProvider } from 'vee-validate';
// Import API functions
import Api from '@/api/api';
// Import exports from vuex
import {mapMutations} from 'vuex';

export default {
    name: 'user_consent_to_share_information',
    components: {
        ValidationProvider,
    },
    data: () => ({
        sharing_information: 'https://www.800loanmart.com/personal-loans/consent-to-share-information/'
    }),
    computed: {
        consent_to_share_information: {
            get() {
                return this.$store.state.user.consent_to_share_information;
            },
            set(val) {
                this.UPDATE_CONSENT_TO_SHARE_INFORMATION(val);
            }
        },
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Vehicle module
        ...mapMutations('user', [
            'UPDATE_CONSENT_TO_SHARE_INFORMATION',
        ]),
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../assets/base';
    @import '../../assets/validation';

</style>
