<template>
    <div class="user_email">
        <ValidationProvider name="email" 
                            rules="required|email" 
                            v-slot="{ errors }"
        >
            <input type="email" 
                   class="form-control"
                   :class="{'input-error': errors.length === 1}" 
                   id="inputEmail" 
                   :placeholder="$t('inputs.email')" 
                   v-model="email"
            >
            <div class="row">
                <div class="col">
                    <span :class="{'input-error-message': errors.length === 1}">
                        {{ errors[0] }}
                    </span>
                </div>
            </div>
        </ValidationProvider>
    </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate';
// Import API functions
import Api from '@/api/api';
// Import exports from vuex
import {mapMutations} from 'vuex';

export default {
    name: 'user_email',
    components: {
        ValidationProvider,
    },
    data: () => ({

    }),
    computed: {
        email: {
            get() {
                return this.$store.state.user.email;
            },
            set(val) {
                this.UPDATE_EMAIL(val);
            }
        },
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Vehicle module
        ...mapMutations('user', [
            'UPDATE_EMAIL',
        ]),
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../assets/base';
    @import '../../assets/validation';

</style>
