<template>
    <div class="user_last_name">
        <ValidationProvider 
            name="last_name" 
            :rules="{
                required: true,
                alpha_spaces: true
            }" 
            v-slot="{ errors }"
        >
            <input type="text" 
                   class="form-control"
                   :class="{'input-error': errors.length === 1}" 
                   id="inputLastName" 
                   :placeholder="$t('inputs.last_name')" 
                   v-model.trim="last_name"
            >
            <div class="row">
                <div class="col">
                    <span :class="{'input-error-message': errors.length === 1}">
                        {{ errors[0] }}
                    </span>
                </div>
            </div>
        </ValidationProvider>
    </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate';
// Import API functions
import Api from '@/api/api';
// Import exports from vuex
import {mapMutations} from 'vuex';

export default {
    name: 'user_last_name',
    components: {
        ValidationProvider,
    },
    data:() => ({

    }),
    computed: {
        last_name: {
            get() {
                return this.$store.state.user.last_name;
            },
            set(val) {
                this.UPDATE_LAST_NAME(val);
            }
        },
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Vehicle module
        ...mapMutations('user', [
            'UPDATE_LAST_NAME',
        ]),
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../assets/base';
    @import '../../assets/validation';

</style>
