<template>
    <div class="user_secondary_number">
        <ValidationProvider 
            name="secondary_number" 
            :rules="{ 
                min: 12, 
                max: 12, 
                regex: /^([2-9][0-9-]+[0-9]+[-0-9]?)$/
            }"  
            v-slot="{ errors }"
        >
            <input type="tel" 
                   class="form-control"
                   :class="{'input-error': errors.length === 1}" 
                   id="inputSecondaryNumber" 
                   :placeholder="$t('inputs.home_number')" 
                   v-model="secondary_number"
                   v-mask="'###-###-####'"
            >
            <div class="row">
                <div class="col">
                    <span :class="{'input-error-message': errors.length === 1}">
                        {{ errors[0] }}
                    </span>
                </div>
            </div>
        </ValidationProvider>
    </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate';
// Import API functions
import Api from '@/api/api';
// Import exports from vuex
import {mapMutations} from 'vuex';

export default {
    name: 'user_secondary_number',
    components: {
        ValidationProvider,
    },
    data:() => ({

    }),
    computed: {
        secondary_number: {
            get() {
                return this.$store.state.user.secondary_number;
            },
            set(val) {
                this.UPDATE_SECONDARY_NUMBER(val);
            }
        },
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Vehicle module
        ...mapMutations('user', [
            'UPDATE_SECONDARY_NUMBER',
        ]),
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../assets/base';
    @import '../../assets/validation';

</style>
