<template>
    <div class="user_state">
        <ValidationProvider 
            name="state" 
            rules="required" 
            v-slot="{ errors }"
        >
            
            <select id="inputState" 
                    class="form-control"
                    :class="{'input-error': errors.length === 1}"
                    v-model="state"
                    :disabled="deactivate"
            >
                <option :value="state.value" 
                        :key="state.value" 
                        v-for="state in states"
                >
                    {{ state.state }}
                </option>
            </select>
            <div class="row">
                <div class="col">
                    <span :class="{'input-error-message': errors.length === 1}">
                        {{ errors[0] }}
                    </span>
                </div>
            </div>
        </ValidationProvider>
    </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate';
// Import API functions
import Api from '@/api/api';
// Import exports from vuex
import {mapMutations} from 'vuex';

export default {
    name: 'user_state',
    components: {
        ValidationProvider,
    },
    props: ['deactivate'],
    data:() => ({
        states: [
            {state: "Alabama", value: "AL"}, 
            {state: "Alaska", value: "AK"},
            {state: "Arizona", value: "AZ"},
            {state: "Arkansas", value: "AR"},
            {state: "California", value: "CA"}, 
            {state: "Colorado", value: "CO"}, 
            {state: "Connecticut", value: "CT"},
            {state: "Delaware", value: "DE"}, 
            {state: "District of Columbia", value: "DC"}, 
            {state: "Florida", value: "FL"}, 
            {state: "Georgia", value: "GA"}, 
            {state: "Hawaii", value: "HI"}, 
            {state: "Idaho", value: "ID"}, 
            {state: "Illinois", value: "IL"},
            {state: "Indiana", value: "IN"}, 
            {state: "Iowa", value: "IA"}, 
            {state: "Kansas", value: "KS"}, 
            {state: "Kentucky", value: "KY"}, 
            {state: "Louisiana", value: "LA"}, 
            {state: "Maine", value: "ME"}, 
            {state: "Maryland", value: "MD"}, 
            {state: "Massachusetts", value: "MA"}, 
            {state: "Michigan", value: "MI"},
            {state: "Minnesota", value: "MN"},
            {state: "Mississippi", value: "MS"},
            {state: "Missouri", value: "MO"},
            {state: "Montana", value: "MT"},
            {state: "Nebraska", value: "NE"},
            {state: "Nevada", value: "NV"},
            {state: "New Hampshire", value: "NH"},
            {state: "New Jersey", value: "NJ"},
            {state: "New Mexico", value: "NM"},
            {state: "New York", value: "NY"},
            {state: "North Carolina", value: "NC"},
            {state: "North Dakota", value: "ND"},
            {state: "Ohio", value: "OH"},
            {state: "Oklahoma", value: "OK"},
            {state: "Oregon", value: "OR"},
            {state: "Palau", value: "PW"},
            {state: "Pennsylvania", value: "PA"},
            {state: "Puerto Rico", value: "PR"},
            {state: "Rhode Island", value: "RI"},
            {state: "South Carolina", value: "SC"},
            {state: "South Dakota", value: "SD"},
            {state: "Tennessee", value: "TN"},
            {state: "Texas", value: "TX"},
            {state: "Utah", value: "UT"},
            {state: "Vermont", value: "VT"},
            {state: "Virgin Islands", value: "VI"},
            {state: "Virginia", value: "VA"},
            {state: "Washington", value: "WA"},
            {state: "West Virginia", value: "WV"},
            {state: "Wisconsin", value: "WI"},
            {state: "Wyoming", value: "WY"}
        ]
    }),
    computed: {
        state: {
            get() {
                return this.$store.state.residence.state;
            },
            set(val) {
                this.UPDATE_STATE(val);
            }
        },
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Vehicle module
        ...mapMutations('residence', [
            'UPDATE_STATE',
        ]),
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../assets/base';
    @import '../../assets/validation';

</style>
