<template>
    <div class="user_texts_and_calls">
        <ValidationProvider 
            name="texts_and_calls" 
            rules="" 
            v-slot="{ errors }"
        >
            <input class="form-check-input" 
                   type="checkbox" 
                   id="texts_and_calls"
                   v-model="texts_and_calls"
            >
            <label class="form-check-label" for="texts_and_calls">
                {{$t('inputs.checkboxes.text_and_calls.fragment_1')}} <span id="_text_calls">{{$t('inputs.checkboxes.text_and_calls.fragment_2')}}</span>
            </label>
            <div class="row">
                <div class="col">
                    <span :class="{'input-error-message': errors.length === 1}">
                        {{ errors[0] }}
                    </span>
                </div>
            </div>
        </ValidationProvider>
    </div>
</template>

<script>
import { ValidationProvider } from 'vee-validate';
// Import API functions
import Api from '@/api/api';
// Import exports from vuex
import {mapMutations} from 'vuex';

export default {
    name: 'user_texts_and_calls',
    components: {
        ValidationProvider,
    },
    data:() => ({

    }),
    computed: {
        texts_and_calls: {
            get() {
                return this.$store.state.user.texts_and_calls;
            },
            set(val) {
                this.UPDATE_TEXTS_AND_CALLS(val);
            }
        },
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Vehicle module
        ...mapMutations('user', [
            'UPDATE_TEXTS_AND_CALLS',
        ]),
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../assets/base';
    @import '../../assets/validation';

</style>
