<template>
    <div class="user_zip_code">
        <ValidationProvider 
            name="zip_code" 
            :rules="{ 
                required: true, 
                min_value:500, 
                integer: true, 
                min: 3, 
                max: 5 
            }" 
            v-slot="{ errors }"
        >
            <input type="text" 
                   class="form-control"
                   :class="{'input-error': errors.length === 1}" 
                   id="inputZipCode" 
                   :placeholder="$t('inputs.zip')" 
                   v-model="zip_code"
                   @blur="get_zip_code(zip_code)"
                   :disabled="deactivate"
            >
            <div class="row">
                <div class="col">
                    <span :class="{'input-error-message': errors.length === 1}">
                        {{ errors[0] }}
                    </span>
                </div>
            </div>
        </ValidationProvider>
    </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate';
// Import API functions
import Api from '@/api/api';
// Import exports from vuex
import {mapMutations} from 'vuex';

import debugLog from '@/debug/log';

export default {
    name: 'user_zip_code',
    components: {
        ValidationProvider,
    },
    props: ['deactivate'],
    data:() => ({
        // 
    }),
    watch: {
        zip_code(payload) {
            if (payload.length === 5) {
                this.get_zip_code(payload);
            }
        }    
    },
    computed: {
        zip_code: {
            get() {
                return this.$store.state.residence.zip_code;
            },
            set(val) {
                this.UPDATE_ZIP_CODE(val);
            }
        },
        city: {
            get() {
                return this.$store.state.residence.city;
            },
            set(val) {
                this.UPDATE_CITY(val);
            }
        },
        updated_state: {
            get() {
                return this.$store.state.residence.updated_state;
            },
            set(val) {
                this.UPDATE_UPDATED_STATE(val);
            }
        }
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // Vehicle module
        ...mapMutations('residence', [
            'UPDATE_ZIP_CODE',
            'UPDATE_CITY',
            'UPDATE_UPDATED_STATE'
        ]),
        get_zip_code(payload) {
            Api.getZipCode(payload, this.$root.apiUrl)
            .then(response => {
                const address_components = response.data.results[0].address_components;
                
                this.city = address_components.reduce((short_name, component) => {
                    return short_name + ( component.types[0] !== 'locality' ? '' : component.long_name );
                }, '');

                this.updated_state = address_components.reduce((short_name, component) => {
                    return short_name + ( component.types[0] !== 'administrative_area_level_1' ? '' : component.short_name );
                }, '');
            })
            .catch(error => {
                debugLog(`There was an error: ${error}`);
            });
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../assets/base';
    @import '../../assets/validation';

</style>
