<template>
    <div class="mobile_touch_footer">
        <div class="row">
                <img
                    class="img-fluid mr-1" 
                    src="../../../assets/mobile-touch/norton-symantec.png" 
                    alt="Responsive image" 
                    width="130"
                />
                <img
                    class="img-fluid ml-1" 
                    src="../../../assets/mobile-touch/google-stars.png" 
                    alt="Responsive image" 
                    width="130"
                />
        </div>   
    </div>
</template>

<script>

export default {
    name: 'mobile_touch_footer',
    data: () => ({
        // Data
    }),
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../../../assets/base';
    @import '../../../assets/buttons';
    @import '../../../assets/animations';

    .mobile_touch_footer {
        .row {
            justify-content: center;   
        }
    }

</style>
