<template>
    <div class="home">
            
            <VehicleYears v-if="component_tree.years"/>

            <VehicleMakes v-if="component_tree.makes"/>

            <VehicleModels v-if="component_tree.models"/>
        
            <VehicleStyles v-if="component_tree.styles"/>
        
            <VehicleMileage v-if="component_tree.mileage"/>
        
            <LoanState v-if="component_tree.state"/>
        
            <UserProfile v-if="component_tree.user_profile"/>
        
            <UserConfirmation v-if="component_tree.user_confirmation"/>
        
            <FormCompletion v-if="component_tree.completion"/>

            <Api/>
    </div>
</template>

<script>
// @ is an alias to /src
// Import exports from vuex
import {mapMutations, mapState} from 'vuex';
// Importing Event Bus
import {EventBus} from '@/event-bus';

import VehicleYears from '@/components/mobile-touch/vehicle/years.vue';
import VehicleMakes from '@/components/mobile-touch/vehicle/makes.vue';
import VehicleModels from '@/components/mobile-touch/vehicle/models.vue';
import VehicleStyles from '@/components/mobile-touch/vehicle/styles.vue';
import VehicleMileage from '@/components/mobile-touch/vehicle/mileage.vue';

import LoanState from '@/components/mobile-touch/vehicle/states.vue';
import UserProfile from '@/components/mobile-touch/user/profile.vue';
import UserConfirmation from '@/components/mobile-touch/user/confirmation.vue';
import FormCompletion from '@/components/mobile-touch/user/success.vue';

// Import API functions
import Api from '@/api/api';

export default {
    name: 'mobile_touch',
    components: {
        VehicleYears,
        VehicleMakes,
        VehicleModels,
        VehicleStyles,
        VehicleMileage,
        LoanState,
        UserProfile,
        UserConfirmation,
        FormCompletion,
        Api
    },
    data: () => ({
        component_tree: {
            years: true,
            makes: false,
            models: false,
            styles: false,
            mileage: false,
            state: false,
            user_profile: false,
            user_confirmation: false,
            completion: false,
        }
    }),
    created () {
        EventBus.$on('ROUTER', (val) => {
            this.renderComponent(val);
        });
    },
    methods: {
        renderComponent(val) {
            for(let key in this.component_tree) {
                let property_key = this.component_tree[key];

                if (property_key == true) {
                    this.component_tree[key] = false;    
                    this.component_tree[val] = true;    
                }    
            }    
        }
    },
}
</script>

<style lang="scss" scoped>
    @import '../assets/animations';
</style>
