<template>
    <div></div>
</template>
<script>
import axios from './config';
import uuidV4 from '@/tools/uuid/v4';
import debugLog from '@/debug/log';
import debugInfo from '@/debug/info';
import debugError from '@/debug/error';
import {EventBus} from '@/event-bus';
import airbrake from '@/airbrake/error-api'

axios.interceptors.request.use((config) => {
    config.uuid = uuidV4()
    debugInfo("✉️ ", config)
    window[config.uuid] = false
    setTimeout(() => {
        if (!window[config.uuid]) {
            EventBus.$emit('EXPIRED_SESSION_MODAL')
        }
    },3e4) // 30 seconds
    return config
}, (error) => {
    debugError("✉️ ", error)
    return Promise.reject(error)
})

axios.interceptors.response.use((response) => {
    debugInfo("✉️ ", response)
    window[response.config.uuid] = true
    return response
}, (error) => {
    debugError("✉️ ", error)
    return Promise.reject(error.message)
})

export default {
    data() {
        return {
            // 
        }
    },
    mounted () {
        // EventBus.$emit('ROUTER','user_profile');
    },
    getVehicleInfo(payload, urlRoot) {
        // Axios baseUrl declared in block outside of config file in order to access 
        // apiUrl computed property that can be altered through dev tools
        axios.defaults.baseURL = urlRoot;

        return axios({
            // HTTP method POST
            method: "POST",
            // API endpoint
            url: `/vehicle_lookup`,
            data: {...payload}
        })
        .then(response => {
            debugLog(response);
            return response;
        })
        .catch(error => {
            airbrake({
                errors: error,
                method: 'POST',
                endpoint: '/vehicle_lookup'
            })
            return Promise.reject(error);
        });
    },
    getPaymentQuote(payload, urlRoot) {
        // Axios baseUrl declared in block outside of config file in order to access 
        // apiUrl computed property that can be altered through dev tools
        axios.defaults.baseURL = urlRoot;

        return axios({
            // HTTP method POST
            method: "POST",
            // API endpoint
            url: `/getpaymentquote`,
            // Data being sent to API
            data: {...payload}
        })
            .then(response => {
                return response;
            })
            .catch(error => {
                airbrake({
                    errors: error,
                    method: 'POST',
                    endpoint: '/getpaymentquote'
                })
                return Promise.reject(error);
            });
    },
    getZipCode(payload, urlRoot) {
        // Axios baseUrl declared in block outside of config file in order to access
        // apiUrl computed property that can be altered through dev tools
        axios.defaults.baseURL = urlRoot;

        return axios({
            // HTTP method POST
            method: "get",
            // API endpoint
            url: `/geocode/${payload}`,
        })
            .then(response => {
                return response;
            })
            .catch(error => {
                airbrake({
                    errors: error,
                    method: 'GET',
                    endpoint: `/geocode/${payload}`
                })
                return Promise.reject(error);
            });
    },
    multiStepPost(payload, urlRoot) {
        // Axios baseUrl declared in block outside of config file in order to access 
        // apiUrl computed property that can be altered through dev tools
        axios.defaults.baseURL = urlRoot;

        return axios({
            // HTTP method POST
            method: "post",
            // API endpoint
            url: `/submitMultiStepApplication`,
            // Data being sent to API
            data: {...payload}
        })
            .then(response => {
                return response;
            })
            .catch(error => {
                airbrake({
                    errors: error,
                    method: 'POST',
                    endpoint: '/submitMultiStepApplication'
                })
                return Promise.reject(error);
            });
    },
    completeForm(payload, urlRoot) {
        // Axios baseUrl declared in block outside of config file in order to access 
        // apiUrl computed property that can be altered through dev tools
        axios.defaults.baseURL = urlRoot;

        return axios({
            // HTTP method POST
            method: "post",
            // API endpoint
            url: `/completeMultiStepApplication`,
            // Data being sent to API
            data: {...payload}
        })
            .then(response => {
                return response;
            })
            .catch(error => {
                airbrake({
                    errors: error,
                    method: 'POST',
                    endpoint: '/completeMultiStepApplication'
                })
                return Promise.reject(error);
            });
    },
    heartbeat(payload, urlRoot) {
        // Axios baseUrl declared in block outside of config file in order to access
        // apiUrl computed property that can be altered through dev tools
        axios.defaults.baseURL = urlRoot;

        return axios({
            // HTTP method POST
            method: "post",
            // API endpoint
            url: '/heartbeat',
            // Data being sent to API
            data: {...payload}
        })
            .then(response => {
                return response;
            })
            .catch(error => {
                return Promise.reject(error);
            });
    }
};
</script>
