/*Vue.js transition animations*/
.slide-enter-active {
    transition-duration: 400ms;
    transition-delay: 500ms;
    transition-property: all;
    opacity: 1;
}

.slide-leave-active {
    transition-duration: 400ms;
    transition-timing-function: ease-out;
}

.slide-enter-to {
    max-height: 450px;
    overflow: hidden;
}

.slide-leave {
    opacity: 1;
    overflow: hidden;
    max-height: 0;
}

.slide-enter, .slide-leave-to {
    opacity: 0;
    overflow: hidden;
    max-height: 0;
}