// Variables
// Colors
// Orange
$primary-orange: #e7780d;
$orange-font: #c36928;
$orange-hover: #f78b23;
// Green
$primary-green: #2dbf5b;
$secondary-green: #1f9e48;
// Black & White
$white: #fff;
$black: #000;
// Grey
$grey-font: #555;
$secondary-grey: #808080;
$light-grey: #bbbbbb;
$secondary-light-grey: #aaa;
// Element colors
$hr: #4d4d4d;
$border: #a6aba6;
$input-background: #e7e7e7;
$placeholder: #999;

// Font family
$primary-font: proxima-nova, sans-serif;

// Border Outline
$outline-color: rgba(0, 0, 0, 0.125);
$outline: 2px solid $outline-color;





