@import 'base';

$button-radius: 2.5rem;

@mixin mobile_touch_button {
    border-radius: $button-radius !important;
    background-color: $primary-green !important; 
    color: $white !important;
    max-height: 36px;
    min-height: 36px !important;
    font-size: 13px !important;
    padding: 0px;
    white-space: normal;
    width: 100%;
    box-shadow: none !important;
}

@mixin mobile_touch_back_button {
    cursor: pointer;
}