@import 'base';

@mixin input_border {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-radius: 0px;
    border-bottom: 1px solid black;
}