/**Validation**/
.input-error {
  border-color: #E84444 !important;
}

// .input-error:focus {
//   border-color: #E84444 !important;
//   box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(232,68,68,.6)!important;
// }

.input-success {
    border: 1px solid #007400 !important;
    box-shadow: 0px 1px 20px 1px rgba(0,102,0,0.62);
}

.input-error-message { 
    color: #A04241!important;
}