<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
@import 'assets/buttons';

#app {
  text-align: center;
  font-family: $primary-font;
}

.container-outline {
    position: relative;
    border: $outline;
    padding: 20px 35px 20px 35px !important;
    border-radius: 5px;
    min-height: 339px !important;
}

.mobile_touch_button {
    @include mobile_touch_button;
}

.back_btn {
    @include mobile_touch_back_button;
}
</style>
